@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Bundles/jquery.validate")
<script>
    var RequestStatus = @ViewBag.RequestStatus;
    var Statuses = {
        Open : @((int)DropIt.Common.Statuses.Request.Open),
        Close: @((int)DropIt.Common.Statuses.Request.Close)
        }
</script>

<div class="row-fluid">
    <div class="span8 status-filter">
        <div class="btn-group">
            <a href="@Url.Action("Index", new { RequestStatus = (int)DropIt.Common.Statuses.Request.Open })" class="btn btn-large active">
                 <i class="icon-bullhorn"></i>
                <span>Yêu cầu đang được mở</span>
            </a>
        </div>
    </div>
    <div class="span4">
        @*<div class="pull-right" style="">
            <a href="@Url.Action("Create")" class="button large blue">
                <i class="icon-plus"></i>
                <span>Tạo danh mục</span>
            </a>
        </div>*@
    </div>
</div>
<br />
<br />
<table class="table table-bordered box">
    <thead>
        <tr>
            <th class="sortable" data-bind="click: function (data, event) { sort('Event.EventName', data, event) }">Sự kiện</th>
            <th class="sortable" data-bind="click: function (data, event) { sort('User.UserName', data, event) }">Người đăng</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: data">
        <tr>
            <td data-bind="text: Event.EventName"></td>
            <td data-bind="text: User.UserName"></td>
            <td>
                <a href="javascript:;"
                    class="button red"
                    data-bind="click:$root.Close,visible:Status==Statuses.Open">Đóng
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="pagination pull-right" data-bind="visible: pageCount() > 0">
    <ul data-bind="foreach: new Array(pageCount())">
        <li data-bind="css: {active: $index()+1 == $root.currentPage()}">
            <a href="javascript:;" data-bind="click: function (data,category) { $root.changePage($index(),data,category)}">
                <span data-bind="text: ($index()+1)"></span>
            </a>
        </li>
    </ul>
</div>
<style>
   
</style>
<script>
    
    var list = new DataList();
    list.url_getList = {Controller:"Request",Action:"List"};
    list.extraData = {
        RequestStatus:RequestStatus
    }
    list.changeStatus = function (stt) {
        $(".status-filter > div > a").removeClass("active");
        $(".status-filter > div > a").eq(stt).addClass("active");
        list.extraData.RequestStatus = stt;
        list.currentPage(1);
        list.getList();
    }

    list.Close = function(item){
        $.fn.dialog2.helpers.confirm("Bạn có chắc là muốn đóng yêu cầu của sự kiện \""+item.Event.EventName+"\" ?",
            {
                title: "Xác nhận",
                confirm:function(){
                    list.AjaxAction({
                        item:item,
                        urlData:{Action:"Close",Data:{UserId:item.User.UserId,EventId:item.Event.EventId}},
                        callback:function(event){
                            Notifications.push({
                                text:"Yêu cầu của sự kiện \""+item.Event.EventName+"\" đã được xóa !".eval(event),
                                autoDismiss:5
                            })
                        }
                    })
                }
            }
        )
    }

    list.getList = function (callback) {
        Loading(true);
        var data = { jtPageSize: list.pageSize, jtStartIndex: list.startIndex(), jtSorting: list.sorting, Request: list.RequestStatus };
        $.extend(data, list.extraData);
        var urlData = { Action: "List", Controller: "Request", Data: data };
        $.extend(urlData, self.url_getList);
        $.ajax({
            url: Url(urlData),
            type: "POST",
            success: function (rs) {
                Loading(false);
                if (rs.Result && rs.Result == "OK") {
                    list.data.removeAll();
                    $.each(rs.Records, function (i, v) {
                        list.data.push(new Request(v));
                    })
                    list.recordCount(rs.TotalRecordCount);
                }
                setTimeout(function () {
                    bootstrap.active();
                }, 100);
                if (callback) {
                    callback.call();
                }
            }
        })
    }

    list.getList(function () {
        ko.applyBindings(list);
    });

    $(".status-filter > div > a").eq(0).attr("href","javascript:;").click(function(e){
        list.changeStatus(0);
        e.preventDefault();
        return false;
    })

</script>
