@model DropIt.Areas.Administration.ViewModels.VenueViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Bundles/jquery.validate")
@Scripts.Render("~/Content/ckeditor/ckeditor.js")
<style>
    label {
        font-weight: bold;
    }

    .input {
        margin-top: 15px;
    }
</style>
<script>
    var Model = @Html.Raw(Json.Encode(Model));
</script>
@if (Model.AllowEdit != true)
{
               
    <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Cảnh báo!</strong> Địa điểm này đang có sự kiện đang giao dịch, không thể sửa thông tin
    </div>
    <div class="cf"></div>
    <script>
        $(function(){
            $("#createEvent input,#createEvent textarea").addClass("disabled").attr("disabled","disabled");
            $("#createEvent select").select2("enable",false);
        })
    </script>
}

<div class="box" style="clear: both">
    <div class="tab-header">
        Chỉnh sửa địa điểm
    </div>
    <form class="fill-up" id="createEvent" method="post" enctype="multipart/form-data">
        <div class="row-fluid">
            <div class="span6">
                <div class="padded">
                    @Html.HiddenFor(t => t.VenueId)
                    <div class="input">
                        <label for="venueName">Tên địa điểm</label>
                        <input id="venueName" name="VenueName" value="@Model.VenueName" type="text"/>
                    </div>
                    <div class="input">
                        <label for="address">Địa chỉ</label>
                        <input id="address" type="text" class="" name="Address" value="@Model.Address"/>
                    </div>
                    <div class="input">
                        <label for="venue">Tỉnh/Thành Phố</label>
                        @Html.DropDownList("ProvinceId", (SelectList)ViewBag.ProvinceId, new { id = "province", name = "ProvinceId", style = "width:100%" })
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="padded">
                    <div class="input">
                        <label for="Description">Chú thích</label>
                        <textarea name="Description" id="Description" style="width: 100%; height: 100px;">@Model.Description</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            @if (Model.AllowEdit == true)
            {
                <button type="submit" class="button blue">Cập nhật</button>
            }
            <a href="@Url.Action("Index")" class="button">Hủy</a>
        </div>
    </form>
</div>
<script>
    CKEDITOR.replace('Description', {
        toolbar: [
		{ name: 'clipboard', items: ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'] },
		{ name: 'editing', items: ['Find', 'Replace', '-', 'SelectAll', '-', 'Scayt'] },
		{
		    name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak'
		    ]
		},
                '/',
		{ name: 'styles', items: ['Styles', 'Format'] },
		{ name: 'basicstyles', items: ['Bold', 'Italic', 'Strike', '-', 'RemoveFormat'] },
		{ name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote'] },
		{ name: 'links', items: ['Link', 'Unlink', 'Anchor'] },
		{ name: 'tools', items: ['Maximize', '-', 'About'] }
        ]
    })


    validateOptions = {
        rules: {
            VenueName: {
                required: true
            },
            Address: {
                required: true
            },
            ProvinceId: {
                required: true
            }
        },
        messages: {
            VenueName: "Cần phải điền tên địa điểm",
            Address: "Cần phải điền địa chỉ",
            ProvinceId: "Phải chọn Tỉnh/Thành phố",
        }
        //,
        //errorLabelContainer:$('.validation-summary-errors')
        , errorElement: "span",
        errorClass: "error",
        errorPlacement: function (error, element) {
            error.insertAfter(element.parent().find("label"));
        },
        ignore: ".select2-focusser,.select2-input"
    }

    $("#createEvent").validate(validateOptions);
    $("select").select2();
    $("#province").select2("val", Model.ProvinceId);
    function submit() {
        Loading(true, true);
        $("#Description").val(CKEDITOR.instances.Description.getData());
        var formData = new FormData($("#createEvent")[0]);
        function success(rs) {
            Loading(false);
            if (rs.Result && rs.Result == "OK") {
                location = Url({ Action: "Index" })
            } else {
                $.fn.dialog2.helpers.alert("Lỗi: " + rs.Message);
            }
        }
        $.ajax({
            url: Url({ Action: "Edit" }),
            type: "POST",
            data: formData,
            success: success,
            processData: false,
            contentType: false,
            error: function () {
                Loading(false);
                $.fn.dialog2.helpers.alert("Có lỗi xảy ra khi gửi dữ liệu lên server");
            }
        });

    }
    $("#createEvent").submit(function (e) {
        if ($("#createEvent").valid()) {
            submit();
            return false;
        }
    })
</script>
