@model DropIt.Models.Request
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Area: Page Header & Navigation & Search.END-->
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">

                    @Html.Partial("Partials/SideBar")

            </div>
        </div>

        <div class="display-field">
            <h2 class="event-name">@Html.DisplayFor(model => model.Event.EventName)</h2>
            <hr />
        </div>

        <div class="event-des">
            <div class="event-image span3">
                <div class="display-field">
                    <img src="@Url.Content(Model.Event.EventImage == null ? "/Content/Images/no_image.jpg" : Model.Event.EventImage)" />
                </div>
            </div>
            <div class="span6">

                @using (Html.HorizontalForm())
                {
                    @Html.LabelAndControl("Thời gian: ", Html.Value("Event.HoldDate"))
                    @*<div class="control-group">
                        @Html.LabelFor(model => model.Status, new { @class = "control-label" })
                        <div class="controls">
                            
                            @{
                            var status = Model.Status;
                            if (status == 0)
                            {
                                        <p>Đã đóng giao dịch</p>
                            }
                            else if (status == 1)
                            {
                                        <p>Đang giao dịch</p>                    
                            }
                            else
                            {
                                        <p>Đã xóa</p>                    
                            }
                            }
                        </div>
                    </div>*@
                    @Html.LabelAndControl("Danh mục: ", Html.Value("Event.Category.CategoryName"))
                    @Html.LabelAndControl("Địa điểm: ", Html.Value("Event.Venue.VenueName"))
                    @Html.LabelAndControl("Miêu tả: ", Html.Value("Description"))
                }

            </div>
            <div class="span9">
                <br />
                <br />
                <a href="@Url.Action("Index", "Request")" class="btn btn-gen btn-mid">Quay về</a>
            </div>
        </div>
    </div>
</div>
