@model IEnumerable<DropIt.Models.Request>
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var eventId = @(Model)
    $(".btn-close").live("click", function (e) {
        e.preventDefault();
        var seft = this;
        $.ajax({
            type: "POST",
            url: "/Request/Close",
            data: { EventId: eventId },
            cache: false,
            dataType: "json",
            success: function (dataresponse) {
                if (dataresponse == "Close") {
                    $(seft).text("Đóng")
                }
                else {
                    $(seft).text("Mở")
                }

            }
        });

    });
</script>

<!--Area: Page Header & Navigation & Search.END-->
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>
    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.Partial("Partials/SideBar")
                }
                else
                {
                    if (Session["Role"] != null && Session["Role"].Equals("Sell"))
                    {
                    }
                    else
                    {
                    }
                }
            </div>
        </div>
        <div class="span9">
            <h3>Danh sách các loại vé đang được rao mua </h3>
            <blockquote>Click vào "Chi tiết" để xem chi tiết các trả lời</blockquote>
        </div>

        <div class="row span9">
            <div class="ticket-list">
                <table class="table table-condensed event-detail">
                    <thead>
                        <tr class="header warning">
                            <th class="">Thời gian</th>
                            <th class="">Tên sự kiện</th>
                            <th class="">Nơi diễn ra sự kiện</th>
                            <th class="">Trạng thái</th>
                            <th class="">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row -->
                        @foreach (var item in Model)
                        {
                            <a href="@Url.Action("Index", "Request", new { id = item.UserId })">
                                <tr class="first">
                                    <td>@Html.DisplayFor(modelItem => item.Event.HoldDate)</td>
                                    <td>@Html.DisplayFor(modelItme => item.Event.EventName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Event.Venue.VenueName)</td>
                                    <td>@(item.Status == 1 ? "Đang giao dịch" : "Đã đóng giao dịch")</td>
                                    <td class="action">
                                        <a href="@Url.Action("Details", "Request", new { UserId = item.UserId, EventId = item.EventId })" class="btn btn-inverse btn-buy btn-small">Chi tiết</a>
                                        @*@Html.ActionLink("Đóng", "#", new { UserId = item.UserId, EventId = item.EventId }, new { onclick = "return confirm('Bạn có chắc chắn muốn đóng giao dịch này?');" })*@
                                        @Html.ActionLink("Đóng", "#", new { UserId = item.UserId, EventId = item.EventId }, new { onclick = "return confirm('Bạn có chắc chắn muốn đóng giao dịch này?');" })
                                    </td>
                                </tr>
                            </a>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
