@model DropIt.Models.LocalPasswordModel
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert

<div class="login">
@using (Html.HorizontalForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <h3>Quản Lí Tài Khoản</h3>
   
        @Html.LabelAndControl("Mật Khẩu cũ:", Html.Password("OldPassword"))
        <div class="controls">@Html.ValidationMessageFor(m => m.OldPassword)</div>
          
        @Html.LabelAndControl("Mật Khẩu mới:", Html.Password("NewPassword"))
        <div class="controls">@Html.ValidationMessageFor(m => m.NewPassword)</div>
        @Html.LabelAndControl("Nhập lại Mật Khẩu mới:", Html.Password("ConfirmPassword"))
        <div class="controls">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
           
        <button type="submit" class="btn btn-register btn-success" value="Change password">Xác Nhận</button>
}
</div>
