@model DropIt.Models.LoginModel
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert

@{
    ViewBag.Title = "Log in";
}

<div class="container" id="content">
    <div class="login">
        <section id="loginForm">
            @using (Html.HorizontalForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                
             @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
            <h2>Đăng Nhập</h2>
            
               
      
                @Html.LabelAndControl("Tên Tài khoản", Html.TextBox("UserName"))
                <div class="controls validate">@Html.ValidationMessageFor(m => m.UserName)</div>
          
                @Html.LabelAndControl("Mật Khẩu", Html.Password("Password"))
                
                    <div class="controls validate">@Html.ValidationMessageFor(m => m.Password)</div>
        
            <div class="check-remember">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                </div>
        <button type="submit" class="btn btn-register btn-success" value="Log in">Đăng Nhập</button>
                <p>
                    @Html.ActionLink("Đăng Ký", "Register") nếu bạn chưa có tài khoản!!
                </p>
            }
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
