@model DropIt.Models.RegisterModel
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@{
    ViewBag.Title = "Register";
}

<div class="container" id="content">
    <div class="register">
        @using (Html.HorizontalForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()   

            <h3>Đăng Ký</h3>

            @Html.LabelAndControl("Tên Tài khoản", Html.TextBox("UserName"))
            @Html.LabelAndControl("Mật Khẩu", Html.TextBox("Password"))
            @Html.LabelAndControl("Nhập lại Mật khẩu", Html.TextBox("ConfirmPassword"))
            @Html.LabelAndControl("Email", Html.TextBox("Email"))
            @Html.LabelAndControl("Số điện thoại", Html.TextBox("Phone"))
            @Html.LabelAndControl("Địa chỉ", Html.TextBox("Address"))
            <div id="province">
                @Html.DropDownList("ProvinceId", String.Empty)
            </div>
                <div>
            <label class="checkbox">
                <span class="help-block">Điều Khoản Sử Dụng</span>
                      <span class="condition"></span>  
                <input type="checkbox">
                Tôi Đồng ý với tất cả các điều kiện trên.
            </label>
                </div>
            <button type="submit" class="btn btn-register btn-success" value="Register">Đăng Ký</button>
            <button type="submit" class="btn btn-register btn-inverse" value="Reset">Nhập lại</button>
       
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
