@model DropIt.ViewModels.BuyTicket

@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@using DropIt.Common

@{
    ViewBag.Title = "BuyTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="content">
    <div class="form1">
        @using (Html.HorizontalForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <h3>Mua vé</h3> 
            
            <div class="ticket-list">
                <table class="table table-condensed event-detail">
                    <thead>

                        <tr class="header warning">
                            <th class="">Tên sự kiện</th>
                            <th class="">Thời gian</th>
                            <th class="">Địa điểm</th>
                            <th class="">Giá bán</th>
                            <th class="">Thông tin ghế ngồi</th>
                                
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="first">
                                @Model.EventName
                            </td>
                            <td class="user">
                                @Model.HoldDate
                            </td>
                            <td class="user">
                                @Model.VenueName
                            </td>
                            <td class="descript">
                                @Model.SellPrice
                            </td>
                            <td class="price">
                                @Model.Seat
                            </td>
                                
                        </tr>
                    </tbody>
                </table>
                <div class="header warning">
                                        <div class="">Miêu tả</div>
                                    </div>
                                    <div>
                                        <div>
                                            @Model.Description
                                        </div>
                                    </div>
                </div>
            
            @Html.Hidden("TicketId", (object)ViewBag.TicketId) 
            @Html.LabelAndControl("Người nhận:", Html.TextBox("TranFullName"))
            @Html.LabelAndControl("Địa chỉ nhận:", Html.TextBox("TranAddress"))

            <div class="control-group">
                <label class="control-label">Hình thức thanh toán: </label>
                <div class="controls radio-check">
                    @Html.RadioButton("TranType", (int)Statuses.TranType.HoldPayment, true, new { id = "trantype_5d" })
                    <label for="trantype_5d" style="display:inline">Thanh toán tạm giữ 5 ngày </label>
                </div>
                   <div class="controls radio-check">
                    @Html.RadioButton("TranType", (int)Statuses.TranType.InstantPayment, new { id = "trantype_instant" })
                    <label for="trantype_instant" style="display:inline">Thanh toán ngay</label>
                </div>
            </div>
            @Html.LabelAndControl("Ghi chú:", Html.TextBox("TranDescription"))

            //captcha


            // end captcha
            
            <button type="submit" class="btn btn-register btn-success">Xác nhận</button>
            <button type="reset" class="btn btn-register btn-inverse">Nhập lại</button>
        }
    </div>
</div>
