@model DropIt.ViewModels.BuyTicket

@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@using DropIt.Common

@{
    ViewBag.Title = "BuyTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int currentUserId=WebSecurity.GetUserId(User.Identity.Name);   
}
@if (User.IsInRole("Administrator"))
{
     <div class="container" id="content">
        <div class="admin-image">
            <img src="/Content/Images/error.png" />
        </div>
        <center><h3> Xin lỗi! admin không thể thực hiện giao dịch! </h3></center>
        <br />
        <center>    
            <a href="/Home/Index" class="btn btn-gen">Quay về trang chủ</a>
        </center>
        <br />
        <br />
    </div>
    
}
else if (@Model.UserId==currentUserId)
{
     <div class="container" id="content">
        <div class="admin-image">
            <img src="/Content/Images/error.png" />
        </div>
        <center><h3> Xin lỗi bạn không thể giao dịch vé của mình! </h3></center>
        <br />
        <center>    
            <a href="/Home/Index" class="btn btn-gen">Quay về trang chủ</a>
        </center>
        <br />
        <br />
    </div>
}
else
{
    <style>
        th {
            font-weight: bold !important;
            color: #431f59!important;
        }
        thead th:nth-child(1){
            min-width:200px;
        }
        thead th:nth-child(2){
            
        }

        thead th:nth-child(3){
            
        }

        thead th:nth-child(4){
            width:100px; 
        }

        thead th:nth-child(5){
            width:80px;
        }
    </style>
    <div class="container" id="content">
        <div class="form1">
            @using (Html.HorizontalForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()

                <h3>Thông tin vé</h3>

                <div class="ticket-list">
                    <table class="table table-condensed table-bordered event-detail" style="margin-left: 5px;">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    Sự kiện : @Model.EventName
                                </th>
                            </tr>
                            <tr class="header warning">
                                <th class="">Tên sự kiện</th>
                                <th class="">Thời gian</th>
                                <th class="">Địa điểm</th>
                                <th class="">Giá bán</th>
                                <th class="">Chỗ ngồi</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="">
                                    @Model.EventName
                                </td>
                                <td class="user">
                                    <span data-rawdate>@Json.Encode(Model.HoldDate)</span>
                                </td>
                                <td class="">
                                    @Model.VenueName
                                </td>
                                <td class="">
                                    <span data-vnd>@Model.SellPrice</span>
                                </td>
                                <td class="">
                                    @if (@Model.Seat == null)
                                    {
                                        <div>Không có thông tin</div>
                                    }else
                                    {
                                        @Model.Seat    
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-condensed table-bordered event-detail" style="margin-left:5px"> 
                        <tr>
                            <td><strong>Thông tin chi tiết</strong></td>
                        </tr>
                        <tr>
                            @if (@Model.Description == null)
                                {
                                    <td colspan="5" style="text-align: left">
                                        Không có thông tin thêm!
                                    </td>
                                }
                                else
                                {
                                    <td colspan="5" style="text-align: left">
                                        @Model.Description
                                    </td>
                                }
                        </tr>
                    </table>
                </div>
                <h3>Thông tin người mua</h3>
                @Html.Hidden("TicketId", (object) ViewBag.TicketId)
                @Html.LabelAndControl("Người nhận:", Html.TextBox("TranFullName"))
                @Html.LabelAndControl("Địa chỉ nhận:", Html.TextBox("TranAddress"))

                <div class="control-group">
                    <label class="control-label">Hình thức thanh toán: </label>
                    <div class="controls radio-check">
                        @Html.RadioButton("TranType", (int) Statuses.TranType.HoldPayment, true, new {id = "trantype_5d"})
                        <label for="trantype_5d" style="display: inline">Thanh toán tạm giữ 5 ngày </label>
                    </div>
                    <div class="controls radio-check">
                        @Html.RadioButton("TranType", (int) Statuses.TranType.InstantPayment, new {id = "trantype_instant"})
                        <label for="trantype_instant" style="display: inline">Thanh toán ngay</label>
                    </div>
                </div>
@*                @Html.LabelAndControl("Giá vé:", Html.TextBox("SellPrice", @Model.SellPrice, new {@readonly = "readonly"}))*@
@*                @Html.LabelAndControl("Tiền Ship hàng:", Html.TextBox("ShippingCost", @Model.ShippingCost, new {@readonly = "readonly"}))*@
                @Html.LabelAndControl("Tổng cộng (Đã bao gồm phí giao hàng):", Html.TextBox("Tong", @Model.SellPrice + @Model.ShippingCost, new {@readonly = "readonly"}))
                @Html.LabelAndControl("Ghi chú (Tùy chọn):", Html.TextBox("TranDescription"))

                //captcha


                // end captcha

                <button type="submit" class="btn btn-mid btn-gen">Xác nhận</button>
                <button type="reset" class="btn btn-mid btn-cancel">Nhập lại</button>
            }
        </div>
    </div>
}