@model DropIt.Models.Ticket
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>
    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                    @Html.Partial("Partials/SideBar")
            </div>
        </div>
        <div class="span9">
            @{
                var item = Model;
                }
            <div class="ticket">
                                                               
                            @if (@item.SeriesNumber != null)
                            {
                                <div class="serial">@item.SeriesNumber</div>
                            }
                            <div class="buyer">
                                <div class="buyer-name">
                                    <strong>Người bán:</strong> @item.User.UserName
                                </div>
                                <div class="buyer-date">
                                    <strong>Ngày đăng:</strong> @item.CreatedDate.Value.ToString("dd / MM / yyyy")
                                </div>
                            </div>
                            <div class="info">
                                <div class="event-name">
                                    @item.Event.EventName
                                </div>
                                <div class="event-artist">
                                    <span class="icon-star"></span> @item.Event.Artist
                                </div>
                                <div class="event-date">
                                    <span class="icon-time"></span> @item.Event.HoldDate.ToLongDateString().ToUpper()
                                    <br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;@item.Event.HoldDate.ToLongTimeString()
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="icon-map-marker"></span> @item.Event.Venue.VenueName
                                </div>
                                @*<div class="event-venue">
                                    
                                </div>*@
                                <div>
                                    <strong>Chú thích:</strong> @item.Description
                                </div>
                            </div>
                            <div class="price">
                                <span data-VND>@item.SellPrice</span> VNĐ
                            </div>
                            <div class="qrcode">
                                @Html.QRCode(Url.Action("Buy","Ticket",new {Id = item.TicketId},Request.Url.Scheme),50,2)
                            </div>
                            <div class="action">

                                    <a href="@Url.Action("Edit", "Ticket", new { Id = @item.TicketId })" class="btn main buy-ticket">Sửa vé</a>

                            </div>
                            </div>
        </div>
    </div>
</div>



