
@{
    <script src="~/Scripts/DropIt/jquery-ui-1.10.3/ui/jquery-ui.js"></script>
}

<div class="middle-header">
    <div class="container">
        <div class="search">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            { 
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-search"></i>|</span>
                    @Html.TextBox("query")
                    <input class="search-bar span4" id="prependedInput" type="submit" value="search">
                </div>
            }
        </div>
        <div id="home-nav" class="navbar pull-right">
            <ul class="nav">
                <li><a href="@Url.Action("Index", "Home", null, "http")">TRANG CHỦ</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SỰ KIỆN </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Event">Tất cả sự kiện</a>
                        </li>
                        @foreach (DropIt.Models.Category cat in ViewBag.Categories)
                        {
                            if (cat.Status != (int)Statuses.Category.Active)
                            {
                                continue;
                            }
                        <li>
                            <a href="@Url.Action("index", "Event", new { CategoryId = cat.CategoryId })">@cat.CategoryName</a>
                        </li>
                        }
                    </ul>
                </li>
                <li><a href="@Url.Action("GuideForNew", "Home", null, "http")">ĐIỀU KHOẢN</a></li>
                <li><a href="@Url.Action("About", "Home", null, "http")">VỀ CHÚNG TÔI</a></li>
                @if (Request.IsAuthenticated)
                {
                <li class="noti5-wrapper buy">
                    <a href="javascript:;">
                        <span class="icon-bell noti5-icon ">
                            <span class="badge" data-bind="text: unreadCount"></span>
                        </span>
                        
                    </a>
                    <div class="noti5-list-container">
                        <div class="noti5-list-inner" data-bind="event: {scroll: listscroll}">
                            <!-- ko if:data().length == 0 -->
                            <center style="color:white">Không có thông báo nào</center>
                            <style>
                                .noti5-wrapper .noti5-list-container {
                                    height:25px;
                                    overflow:hidden;
                                }
                            </style>
                            <!-- /ko -->
                            <ul class="noti5-list" data-bind="foreach: data">
                                <li>
                                    <a href="#" data-bind="attr: {href: ObjectUrl}">
                                        <div class="container">
                                            <div class="row-fluid">
                                                <div class="span3 avatar" style="" data-bind="style: { backgroundImage: AvatarBG }">
                                                    
                                                </div>
                                                <div class="span7 description">
                                                    <span data-bind="html: Description"></span>
                                                </div>
                                                <div class="span2 misc">
                                                    <br />
                                                    <center>
                                                        <span data-bind="html: time, attr: { title : dateOfCDate}"></span>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            </div>
                            
                                @*<a href="#" class="see-all">Xem tất cả</a>*@
                            
                        </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
<style type="text/css">
    #ui-id-1 {
        background: #fff;
        font-size: 12px;
        border: 1px solid #391147;
        width: 300px;
        overflow-x: auto;
        max-height: 300px;
    }

        #ui-id-1 li {
            margin-top: -8px;
            padding-bottom: 2px;
            border-bottom: 1px solid #808080;
        }
            #ui-id-1 li a:hover {
                text-decoration: none !important;
            }

    DIV.list_item_container {
        height: 80px;
    }

    DIV.list_item_image {
        max-height: 80px;
        width: 80px;
        float: left;
    }

        DIV.list_item_image > img {
            height: 80px;
            width: 80px;
        }

    DIV.list_item_label {
        background: #fff;
        height: 80px;
        color: #431f59;
        text-align: center;
    }

        DIV.list_item_label:hover {
            background-color: #3875d7;
            color: #fff;
        }
    #query {
        width: 300px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $('#query').autocomplete({
            minLength: 3,
            maxItemsToShow: 5,
            source: function (request, response) {
                $.ajax({
                    url: "/Home/SearchAjax",
                    data: { searchText: request.term},
                    dataType: "json",
                    success: function (data) {

                        response($.map(data.slice(0, 5), function (item) {
                            return {
                                value: item.EventName,
                                image: item.EventImage != null && item.EventImage != '' ? item.EventImage.substr(1) : '/Event/Image/17',
                                //       artist: item.Artist,
                                selectedId: item.EventId
                            };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                window.location.assign('@Request.Url.AbsoluteUri' + '/Event/Details/' + ui.item.selectedId)

                return false;
            }
        }).data("uiAutocomplete")._renderItem = function (ul, item) {
            var inner_html = '<a href="/Event/Details/' + item.selectedId + '"><div class="list_item_container"><div class="list_item_image"><img src="' + item.image + '"></div><div class="list_item_label"><h5>' + item.label + '</h5></div></a>';
            return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append(inner_html)
                    .appendTo(ul);
        };


    });
</script>

