<div>
    <ul id="left-nav" class="nav nav-list">
        @Html.Partial("Partials/SideBar_User")
        <li class="nav-header">Bán Vé</li>
        <li><a href="@Url.Action("Create","Ticket")">Bán vé</a></li>
        <li><a href="@Url.Action("Index","TicketResponse")">Danh sách giới thiệu</a></li>
        @foreach (DropIt.Models.Category cat in ViewBag.Categories)
        {
        <li>
            <a href="@Url.Action("index", "Event", new { CategoryId = cat.CategoryId })">@cat.CategoryName</a>
        </li>
        }
    </ul>
</div>