<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>@ViewBag.Title - Admin</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    @Styles.Render("~/Content/Themes/Plastique")
    @Styles.Render("~/Content/select2")
    @Styles.Render("~/Content/Admin")

    <script>
        var Routing = {
            Area: "@ViewContext.RouteData.DataTokens["area"]",
            Controller: "@ViewContext.RouteData.Values["controller"]",
            Action: "@ViewContext.RouteData.Values["action"]"
        }
    </script>

    @Scripts.Render("~/bundles/Themes/Plastique")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/bundles/utils-admin")
    @Scripts.Render("~/bundles/Admin")

    @if (TempData["Error"] != null && TempData["Error"]!="")
    {
        <script>
            Notifications.push({
                imagePath: "",
                text: "Lỗi @TempData["Error"]",
                autoDismiss: 5
            })
        </script>
    }
    @if (TempData["Message"] != null && TempData["Message"] !="")
    {
        <script>
            Notifications.push({
                imagePath:"",
                text: "Thông báo @TempData["Message"]",
                autoDismiss: 5
            })
        </script>
    }
</head>
<body>

    
@Html.Partial("Partials/modal")
@Html.Partial("Partials/primary_nav")
@Html.Partial("Partials/secondary_nav")
<section id="main">
  @Html.Partial("Partials/top_nav")
  <div class="container-fluid">
    @RenderBody()
    @Html.Partial("Partials/footer")
  </div>
</section>
@Html.Partial("Partials/notification_templates")
<script>
    
</script>
</body>
</html>
