@using DropIt.DAL
@{
    UnitOfWork uow = new UnitOfWork();
    ViewBag.Categories = uow.CategoryRepository.GetAvailable().Where(c => c.Category2 == null).ToList();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/utils")
    @Scripts.Render("~/bundles/DropIt")
       
    
    @Styles.Render("~/Content/DropIt")
    <script>
        var Routing = {
            Area: "@ViewContext.RouteData.DataTokens["area"]",
            Controller: "@ViewContext.RouteData.Values["controller"]",
            Action: "@ViewContext.RouteData.Values["action"]"
        }
    </script>
</head>
<body>
    <div id="page">
        <header class="upper-header">
            <div class="container">
                @Html.Partial("Partials/LogoAndTagLine")
                <div id="user">
                      <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                                  </div>
            </div>

        </header>

        @Html.Partial("Partials/MenuBar")
        <div id="body" class="info-page">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div class="container" id="content">
                    @RenderBody()
                </div>
            </section>
        </div>
        @Html.Partial("Partials/Footer");
    @RenderSection("scripts", required: false)
</body>
</html>
