@if (Request.IsAuthenticated) {
    <text>
 <ul class="inline">
     
        <li class="welcome"><i class="icon-user"></i> Chào bạn @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
        @if (User.IsInRole("Administrator"))
        {
            <li class=""><i class="icon-dashboard"></i> @Html.ActionLink("Quản trị", "Index", "Dashboard", new { area="Administration" }, htmlAttributes: new { @class = "username", title = "Vào trang admin" })</li>
        }
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <li class="signout"><i class="icon-signout"></i><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
        }
     </ul> 
    </text>
} else {
    <ul class="inline">
        <li class="signin"><i class="icon-signin"></i> @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li class="register"><i class="icon-user"></i> @Html.ActionLink("Đăng kí thành viên", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

    </ul> 
}
