@using System.ComponentModel.DataAnnotations
@using BootstrapExtensions.Base.Form.Label
@using DropIt.Common
@model DropIt.Models.Ticket
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administration/Views/Shared/_LayoutAdmin.cshtml";
}

<form id="form-detailrequest" class="form-horizontal row">
    <div class="control-group">
        <label class="control-label">Mã Vé:</label>
        <div class="controls">
            @Model.TicketId
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Giá bán:</label>
        <div class="controls">
            @Model.SellPrice
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Tiền nhận:</label>
        <div class="controls">
            @Model.ReceiveMoney
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Miêu tả ghế:</label>
        <div class="controls">
            @Model.Seat
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Ghi chú:</label>
        <div class="controls">
            @Model.Description
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Trạng thái:</label>
        <div class="controls">
            @*@Model.Status*@
            @{
                if (@Model.Status==0)
                {
                    <p>Không chấp nhận</p>
                }
                else if (@Model.Status == 1)
                {
                    <p>Chấp nhận</p>                    
                }
                else
                {
                    <p>Đã xóa</p>                    
                }
            }
        </div>
    </div>    
    <div class="control-group">
        <label class="control-label">Người bán:</label>
        <div class="controls">
            @Model.User.UserName
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Tên sự kiện:</label>
        <div class="controls">
            @Model.Event.EventName
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Ngày bán:</label>
        <div class="controls">
            @Model.CreatedDate
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Cập nhật cuối:</label>
        <div class="controls">
            @Model.ModifiedDate
        </div>
    </div>
</form>
