@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Bundles/jquery.validate")
<script>
    var TicketStatus = @ViewBag.TicketStatus;
    var Statuses = {
        Ready : @((int)DropIt.Common.Statuses.Ticket.Ready),
        Pending : @((int)DropIt.Common.Statuses.Ticket.Pending),
        UserApprove : @((int)DropIt.Common.Statuses.Ticket.UserApprove),
        OnTransaction : @((int)DropIt.Common.Statuses.Ticket.OnTransaction)
        }
</script>
<style>
    
    .popover {
        max-width: 600px;
        width: auto;
    }
</style>
<div class="row-fluid">
    <div class="span8 status-filter">
        <div class="btn-group">
            <a href="@Url.Action("Index", new { TicketStatus = (int)DropIt.Common.Statuses.Ticket.Pending })" class="btn btn-large active">
                <i class="icon-bullhorn"></i>
                <span>Tạm hoãn</span>
            </a>
            <a href="@Url.Action("Index", new { TicketStatus = (int)DropIt.Common.Statuses.Ticket.Ready })" class="btn btn-large">
                <i class="icon-ok"></i>
                <span>Sẵn sàng</span>
            </a>
            <a></a>
            <a href="@Url.Action("Index", new { TicketStatus = (int)DropIt.Common.Statuses.Ticket.UserApprove })" class="btn btn-large">
                <i class="icon-user"></i>
                <span>Người dùng duyệt</span>
            </a>
            <a href="@Url.Action("Index", new { TicketStatus = (int)DropIt.Common.Statuses.Ticket.OnTransaction })" class="btn btn-large">
                <i class="icon-road"></i>
                <span>Đang giao dịch</span>
            </a>
        </div>
        <br />
        <br />
    </div>

    <div class="span4">
        @*   <div class="pull-right" style="">
            <a href="@Url.Action("Create")" class="button large blue">
                <i class="icon-plus"></i>
                <span>Tạo Vé mới</span>
            </a>
        </div>*@
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="box filter">
            <div class="tab-header">
                Bộ lọc
            </div>
            <form class="fill-up">
                <div class="padded">
                    <div class="row-fluid">

                        <div class="span8">
                            <h4>Sự kiện</h4>
                            @Html.DropDownList("Events")
                        </div>
                        <div class="span4">
                            <h4>Người bán</h4>
                            @Html.DropDownList("Users")
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-bordered box">
    <thead>
        <tr>
            <th>Mã số vé</th>
            <th  class="sortable" data-bind="    click: function (data, event) { sort('CreatedDate', data, event) }">Người đăng</th>
            <th>Tên sự kiện</th>
            <th  class="sortable" data-bind="    click: function (data, event) { sort('SellPrice', data, event) }">Gía vé</th>
            <th>Số tiền nhận được</th>
            <th>Số ghế</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: data">
        <tr>
            <td data-bind=" text: SeriesNumber"></td>
            <td data-bind=" text: User.UserName"></td>
            <td data-bind=" text: Event.EventName"></td>
            <td data-bind="text: SellPrice"></td>
            <td data-bind="text:ReceiveMoney"></td>
            <td data-bind="text:Seat"></td>
            <td>
                <a href="" data-bind="
    attr: {
        href: Url({ Action: 'Edit', Data: { Id: TicketId } }),
    }
                    " class="button blue">Chi tiết
                </a>
                <a href="javascript:;"
                    class="button green"
                    data-bind="click:$root.Approve,visible:Status==Statuses.Pending">Duyệt
                </a>
                <a href="javascript:;"
                    class="button red"
                    data-bind="click:$root.Delete,visible:Status==Statuses.Pending">Xóa
                </a>

                <a href="javascript:;"
                    class="button black"
                    data-bind="click:$root.Disapprove,visible:Status==Statuses.Ready">Bỏ duyệt
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="pagination pull-right" data-bind="visible: pageCount() > 0">
    <ul data-bind="foreach: new Array(pageCount())">
        <li data-bind="css: {active: $index()+1 == $root.currentPage()}">
            <a href="javascript:;" data-bind="click: function (data,event) { $root.changePage($index(),data,event)}">
                <span data-bind="text: ($index()+1)"></span>
            </a>
        </li>
    </ul>
</div>


<style>

</style>
<script>
    
    var list = new DataList();
    list.url_getList = {Controller:"Ticket",Action:"List"};
    list.extraData = {
        TicketStatus:TicketStatus
    }
    list.changeStatus = function (stt) {
        $(".status-filter > div > a").removeClass("active");
        $(".status-filter > div > a").eq(stt).addClass("active");
        list.extraData.TicketStatus = stt;
        list.currentPage(1);
        list.getList();
    }

    list.Disapprove = function(item){
        list.AjaxAction({
            item:item,
            urlData:{Action:"Disapprove",Data:{Id:item.TicketId}},
            callback:function(event){
                Notifications.push({
                    text:"Vé có mã số \"#{TicketId}\" đã được bỏ duyệt !".eval(event),
                    autoDismiss:5
                })
            }
        })
    }
    list.Approve = function(item){
        if(item.Event.IsApprove == true && item.Event.IsVenueApprove ==true){
            list.AjaxAction({
                item:item,
                urlData:{Action:"Approve",Data:{Id:item.TicketId}},
                callback:function(event){
                    Notifications.push({
                        text:" Vé có mã số \"#{TicketId}\" đã được duyệt !".eval(event),
                        autoDismiss:5
                    })
                }
            })
        }else{
            var msg = "";
            if(item.Event.IsApprove == false){
                msg+="Sự kiện <strong>"+item.Event.EventName+"</strong>.";
            }
            if(item.Event.IsVenueApprove == false){
                msg+="Địa điểm <strong>"+item.Event.VenueName+"</strong>";
            }
            msg+=" sẽ được duyệt khi bạn duyệt vé này. Bạn có chắc là muốn duyệt vé này ?";

            $.fn.dialog2.helpers.confirm(msg,
            {
                title: "Xác nhận",
                confirm:function(){
                    list.AjaxAction({
                        item:item,
                        urlData:{Action:"Approve",Data:{Id:item.TicketId}},
                        callback:function(event){
                            Notifications.push({
                                text:" Vé có mã số \"#{TicketId}\" đã được duyệt !".eval(event),
                                autoDismiss:5
                            })
                        }
                    })
                }
            }
        )
        }
    }
    list.Delete = function(item){
        $.fn.dialog2.helpers.confirm("Bạn có chắc là muốn xóa vé có mã số \""+item.TicketId+"\" ?",
            {
                title: "Xác nhận",
                confirm:function(){
                    list.AjaxAction({
                        item:item,
                        urlData:{Action:"Delete",Data:{Id:item.TicketId}},
                        callback:function(event){
                            Notifications.push({
                                text:"Vé có mã số \"#{TicketId}\" đã được xóa !".eval(event),
                                autoDismiss:5
                            })
                        }
                    })
                }
            }
        )
    }
    list.getList = function (callback) {
        Loading(true);
        var data = { jtPageSize: list.pageSize, jtStartIndex: list.startIndex(), jtSorting: list.sorting, TicketStatus: list.TichetStatus};
        $.extend(data, list.extraData);
        var urlData = { Action: "List", Controller: "Ticket", Data: data };
        $.extend(urlData, self.url_getList);
        $.ajax({
            url: Url(urlData),
            type: "POST",
            success: function (rs) {
                Loading(false);
                if (rs.Result && rs.Result == "OK") {
                    list.data.removeAll();
                    $.each(rs.Records, function (i, v) {
                        list.data.push(new Ticket(v));
                    })
                    list.recordCount(rs.TotalRecordCount);
                }
                setTimeout(function () {
                    bootstrap.active();
                }, 100);
                if (callback) {
                    callback.call();
                }
            }
        })
    }

    list.getList(function () {
        ko.applyBindings(list);
    });

    $(".status-filter > div > a").eq(0).attr("href","javascript:;").click(function(e){
        list.changeStatus(0);
        e.preventDefault();
        return false;
    })

    $(".status-filter > div > a").eq(1).attr("href","javascript:;").click(function(e){
        list.changeStatus(1);
        e.preventDefault();
        return false;
    })
    $(".status-filter > div > a").eq(3).attr("href","javascript:;").click(function(e){
        list.changeStatus(3);
        e.preventDefault();
        return false;
    })
    $(".status-filter > div > a").eq(4).attr("href","javascript:;").click(function(e){
        list.changeStatus(4);
        e.preventDefault();
        return false;
    })
    
    $("#Events,#Users").css({width:"100%"}).select2();
    $("#Events").change(function(e){
        var val = e.val;
        list.extraData.EventId = val;
        list.getList();
    })
    $("#Users").change(function(e){
        var val = e.val;
        list.extraData.UserId = val;
        list.getList();
    })
    
</script>
