@model DropIt.Models.Event
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Area: Page Header & Navigation & Search.END-->
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                <div>
                    <ul id="left-nav" class="nav nav-list">
                        <li class="nav-header">Cá Nhân</li>
                        <li><a href="#">Thông tin tài khoản</a></li>
                        <li><a href="#">Giao dịch đang thực hiên <span
                            class="badge badge-info">4</span></a></li>
                        <li><a href="#">Lịch sử giao dịch</a></li>
                        <li class=""><a href="#">Danh sách theo dõi</a></li>
                        <li><a href="#">Quản lí rao mua</a></li>
                        <li class="nav-header">Mua Vé</li>
                        <li><a href="#">Đăng rao mua</a></li>
                        <li class=""><a href="#">Ca nhạc</a></li>
                        <li class=""><a href="#">TV Show</a></li>
                        <li><a href="#">Thể thao</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="display-field">
            <h2 class="event-name">@Model.EventName</h2>
            <hr />
        </div>

        <div class="event-des">
            <div class="event-image span3">
                <div class="display-field">
                    <img src="@Url.Content(Model.EventImage == null ? "/Content/Images/no_image.jpg" : Model.EventImage)" />
                </div>
            </div>
            <div class="span6">
                @using (Html.HorizontalForm())
                {
                    @Html.LabelAndControl("Ngày Tổ chức: ", Html.Value("HoldDate"))
                    @Html.LabelAndControl("Trạng thái: ", Html.Value("Status"))
                    @Html.LabelAndControl("Danh mục: ", Html.Value("Category.CategoryName"))
                    @Html.LabelAndControl("Địa điểm: ", Html.Value("Venue.VenueName"))
                }

            </div>
            <div class="display-des span9">
                @Html.DisplayFor(model => model.Description)
                <br />
                <br />

            </div>
        </div>
        <div class="row span9">
            <div class="ticket-list">
                <table class="table table-condensed event-detail">
                    <thead>

                        <tr class="info">
                            <td colspan="5">
                                <i class="icon-calendar"></i>@Html.DisplayFor(model => model.HoldDate)
                            </td>
                        </tr>
                        <tr class="header warning">
                            <th class="">Mã Vé</th>
                            <th class="">Người bán</th>
                            <th class="">Miêu tả</th>
                            <th class="">Giá vé(VNĐ)</th>
                            <th class="">Đặt vé</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row -->
                        @foreach (var item in Model.Tickets)
                        {
                            <tr>
                                <td class="first">
                                    @item.TicketId
                                </td>
                                <td class="user">
                                    @item.User.UserName
                                </td>

                                <td class="descript">
                                    @item.Description
                                </td>
                                <td class="price">
                                    @item.SellPrice
                                </td>
                                <td class="action">
                                    <a href="#" class="btn btn-inverse btn-buy btn-small">Đặt vé</a>
                                    <a href="#" class="btn btn-inverse btn-sub btn-small">Theo dõi</a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

