@model IEnumerable<DropIt.Models.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Session["Role"] = "Event";}
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                    @Html.Partial("Partials/SideBar")
            </div>
        </div>
        <div class="span9">
            <div class="row">
                @*<div class="span9">
                    <form id="" class="form-horizontal row">
                        <div class="control-group">
                            <label class="control-label">Tên sự kiện:</label>
                            <div class="controls">
                                @Model.
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Ngày tổ chức:</label>
                            <div class="controls">
                                @Model.HoldDate
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Ghi chú:</label>
                            <div class="controls">
                                @Model.Description
                            </div>
                        </div>
                    </form>
                </div>*@
                @{
                    ViewBag.Items = Model;
                    //ViewBag.Items_ExtraTemplate = "Partials/Templates/EventList_Item_Extra_Search";
                    ViewBag.EventListClass = "compact";
                    ViewBag.Paging_TotalRecordCount = ViewBag.TotalCount;
                    try
                    {
                        ViewBag.Paging_StartIndex = Int32.Parse(Request["StartIndex"]);
                    }
                    catch (Exception e) { }
                    ViewBag.Paging_ExtraParameters = String.Format("&CategoryId={0}",
                        Request["CategoryId"]);
                }
                @Html.Partial("Partials/Templates/EventList")
                <div class="pull-right">
                    @Html.Partial("Partials/Templates/Paging")
                </div>
            </div>
        </div>
    </div>
</div>