@model IEnumerable<DropIt.Models.Event>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
            
                
                <!-- events table-->
                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="table-wrapper events-table section">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>Events</h4>
                        </div>
                    </div>
                    <div class="row-fluid filter-block">
                        <div class="pull-right">
                            <div class="ui-select">
                                <select>
                                  <option>Filter events</option>
                                  <option>abc</option>
                                  <option>xyz</option>
                                </select>
                            </div>
                            <input type="text" class="search">
                            <a class="btn-flat success new-event" href="Create">+ Add event</a>
                        </div>
                    </div>
                    <div id="pad-wrapper">
                    <div class="row-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="span3">
                                        <input type="checkbox">
                                        Event
                                    </th>
                                    <th class="span3">
                                        <span class="line"></span>Artist
                                    </th>
                                    <th class="span3">
                                        <span class="line"></span>Time
                                    </th>
                                    <th class="span3">
                                        <span class="line"></span>Discription
                                    </th>
                                    <th class="span3">
                                        <span class="line"></span>Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- row -->
                                @foreach(var item in Model)
                                {
                                    <tr class="first">
                                        @*<td>
                                        <input type="checkbox">
                                        <div class="img">
                                            <img src="img/table-img.png">
                                        </div>
                                        <a href="#" class="name">Hội Chợ abc</a>
                                    </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EventName)
                                        </td>
                                        <td class="place">
                                            @Html.DisplayFor(modelItem => item.Artist)
                                        </td>
                                        <td class="icon-time">
                                            @Html.DisplayFor(modelItem => item.HoldDate)
                                        </td>
                                    <td class="description">
                                        @Html.DisplayFor(modelItem => item.Description)
                                        @*<ul class="actions">
                                                <li><a href="#">Edit</a></li>
                                                <li class="last"><a href="#">Delete</a></li>
                                            </ul>*@
                                    </td>
                                    <td>
                                            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
                                            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
                                     </td>
                                    </tr>
                                }                              
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end events table -->
            </div>

