@model IEnumerable<DropIt.Models.Event>
@using DropIt.Common

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@Html.Partial("Partials/RoleTab")
<!--Area: Page Header & Navigation & Search.END-->
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span12">
            <div id="main-nav" class="navbar span12">
                <ul class="nav">
                    <li><a href="@Url.Action("Index", "Home", null, "http")">Top Các Sự Kiện</a></li>
                    <li class="active">@Html.ActionLink("Sự kiện sắp tới","Upcoming","Event")</li>
                    <li><a href="/Ticket/Request">Đăng Rao Mua</a></li>
                    <li><a href="/Ticket/Create">Đăng Bán Vé</a></li>
                </ul>
                
            </div>
            @Html.Partial("Partials/EventDisplayMode")
            @Html.Partial("Partials/EventListFullByModel")
            
        </div>
    </div>
</div>


