@model DropIt.Models.Event
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Area: Page Header & Navigation & Search.END-->
<style>
    [data-follow] {
        position: absolute;
        top: 25px;
        right: 20px;
    }
</style>
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                    @Html.Partial("Partials/SideBar")
            </div>
        </div>
        <div class="span9 event-detail">
            <div class="display-field">
                <div class="row span7" style="margin-bottom: -10px">
                    <h2 class="event-name ">@Model.EventName</h2>
                </div>

                @{
                    var follow = -1;

                    if (WebSecurity.IsAuthenticated)
                    {
                        var followData = Model.UserFollowEvents.Where(t => t.UserId == WebSecurity.GetUserId(User.Identity.Name)).Where(p => p.EventId == Model.EventId).FirstOrDefault();
                        if ( followData!= null)
                        {
                            follow = followData.FollowType;
                        }
                    }
                    else
                    {
                    
                    <script>
                        isLogin = false;
                    </script>
                    
                    }
                }
                <span data-follow="Event" data-follow-status="@follow" data-follow-id="@Model.EventId"></span>
                
            </div>

            <div class="event-des span9">
                <hr />
                <div class="event-image span3">
                    <div class="display-field" style="padding: 1px">
                        <img src="@Url.Content(Model.EventImage == null ? "/Content/Images/no_image.jpg" : Model.EventImage)" />
                    </div>
                </div>
                <div class="span5">
                    @using (Html.HorizontalForm())
                    {
                        @Html.LabelAndControl("Ngày Tổ chức: ", Html.Value("HoldDate"))
                        @Html.LabelAndControl("Ca sĩ: ", Html.Value("Artist"))
                        @Html.LabelAndControl("Danh mục: ", Html.Value("Category.CategoryName"))
                        @Html.LabelAndControl("Địa điểm: ", Html.Value("Venue.VenueName"))
                    }

                </div>
                <div class="display-des span9">
                    <div class="row">
                        @Html.Raw(Model.Description)
                    </div>
                    <br />
                </div>
            </div>
            <div class="row span9">
                <div class="ticket-list">
                    <table class="table table-condensed event-detail">
                        <thead>

                            <tr class="info">
                                <td colspan="5">
                                    <i class="icon-calendar"></i>@Html.DisplayFor(model => model.HoldDate)
                                </td>
                            </tr>
                            <tr class="header warning">
                                <th class="">Mã Vé</th>
                                <th class="">Người bán</th>
                                <th class="">Miêu tả</th>
                                <th class="">Giá vé(VNĐ)</th>
                                <th class="">Đặt vé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- row -->
                            @foreach (var item in Model.Tickets)
                            {
                                if ((item.TranStatus != null && (int)item.TranStatus == (int)DropIt.Common.Statuses.Transaction.Delivered) || item.Status == (int)DropIt.Common.Statuses.Ticket.Pending)
                                {
                                    continue;
                                }
                                <tr>
                                    @if (@item.SeriesNumber==null)
                                    {
                                        <td class="first">
                                            Không có
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="first">
                                            @item.SeriesNumber
                                        </td>
                                    }
                                    
                                    <td class="user">
                                        @item.User.UserName
                                    </td>

                                    <td class="descript">
                                        @item.Description
                                    </td>
                                    <td class="price">
                                        @item.SellPrice
                                    </td>
                                    <td class="action">
                                        @if (item.TranStatus != null)
                                        {
                                            <a href="#" class="btn btn-inverse btn-buy btn-small disabled" style="width: 85px"
                                               data-toggle="tooltip"
                                               title="Vé này đang được giao dịch, bấm theo dõi để nhận được thông báo nếu vé này bị hủy giao dịch">Đang giao dịch</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Buy", "Ticket", new { Id = @item.TicketId })" class="btn btn-inverse btn-buy btn-small">Đặt vé</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    follow_init();
</script>

