@model DropIt.Models.Event
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Area: Page Header & Navigation & Search.END-->
<style>
    [data-follow] {
        position: absolute;
        top: 25px;
        right: 20px;
    }

    .control-label {
        font-weight: bold;
    }

    .controls {
        font-family: HN-Light;
    }

    .event-des {
        position: relative;
    }

        .event-des .action {
            position: absolute;
            right: 10px;
            bottom: 0;
        }

    .table.event-detail .header {
        color: #451a54;
    }
</style>
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                @Html.Partial("Partials/SideBar")
            </div>
        </div>
        <div class="span9 event-detail">
            <div class="display-field">
                <div class="row span7" style="margin-bottom: -10px">
                    <h2 class="event-name ">@Model.EventName</h2>
                </div>

                @{
                    var follow = -1;

                    if (WebSecurity.IsAuthenticated)
                    {
                        var followData = Model.UserFollowEvents.Where(t => t.UserId == WebSecurity.GetUserId(User.Identity.Name)).Where(p => p.EventId == Model.EventId).FirstOrDefault();
                        if (followData != null)
                        {
                            follow = followData.FollowType;
                        }
                    }
                    else
                    {
                    
                    <script>
                        isLogin = false;
                    </script>
                    
                    }
                }
                <span data-follow="Event" data-follow-status="@follow" data-follow-id="@Model.EventId"></span>

            </div>

            <div class="event-des span9">
                <hr />
                <div class="event-image span3">
                    <div class="display-field" style="padding: 1px">
                        <img src="@Url.Content(Model.EventImage == null ? "/Content/Images/no_image.jpg" : Model.EventImage)" />
                    </div>
                </div>
                <div class="span5">
                    @using (Html.HorizontalForm())
                    {
                        <div class="control-group">
                            <label class="control-label" for="Ngày Tổ chức: ">Ngày Tổ chức: </label>
                            <div class="controls">@Model.HoldDate.ToString("dd/MM/yyyy HH:mm")</div>
                        </div>
                        @Html.LabelAndControl("Nghệ sĩ: ", Html.Value("Artist"))
                        @Html.LabelAndControl("Danh mục: ", Html.Value("Category.CategoryName"))
                        @Html.LabelAndControl("Địa điểm: ", Html.Value("Venue.VenueName"))
                    }

                </div>
                @*<div class="display-des span9">
                    <div class="row">
                        @Html.Raw(Model.Description)
                    </div>
                    <br />
                </div>*@
                <div class="action">
                    <a href="@Url.Action("Create", "Ticket", new { EventId = @Model.EventId })" class="btn main fl">Đăng vé</a>
                    <a href="@Url.Action("Request", "Ticket", new { EventId = @Model.EventId })" class="btn blue fl">Yêu cầu vé</a>
                </div>
            </div>
            <div class="row span9">
                <ul class="nav nav-tabs" id="event-tab">
                    <li><a href="#event-description">Thông tin thêm</a></li>
                    <li class="active"><a href="#ticket-list">Danh sách vé</a></li>
                    <li><a href="#request">Danh sách yêu cầu</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="event-description">
                        <div>
                            @Html.Raw(Model.Description)
                        </div>
                    </div>
                    <div class="ticket-list tab-pane active" id="ticket-list">
                        @{
                            var sorting = ViewBag.Sorting;
                            Dictionary<String, String> SortOptions = new Dictionary<string, string>()
                            {
                                {"SellPrice ASC" ,"Giá từ thấp đến cao"},
                                {"SellPrice DESC" ,"Giá từ cap đến đến thấp"}
                            };
                            var currentLabel = SortOptions[sorting];

                            ViewBag.ExtraParameters = "&sorting=" + sorting;
                        }
                        <div class="btn-group pull-right">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                @currentLabel
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (KeyValuePair<String, String> entry in SortOptions)
                                {
                                    <li>
                                        <a href="?StartIndex=@ViewBag.StartIndex&Sorting=@entry.Key">@entry.Value</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="cf"></div>
                        <div>
                            @{

                                
                            }
                            <ul>
                                @foreach (var item in Model.Tickets)
                                {
                                    if (item.Status != (int)DropIt.Common.Statuses.Ticket.Ready)
                                    {
                                        continue;
                                    }
                                    <li class="ticket">

                                        @if (@item.SeriesNumber != null)
                                        {
                                            <div class="serial"><strong>S\N: @item.SeriesNumber</strong></div>
                                        }
                                        <div class="buyer">
                                            <div class="buyer-name">
                                                <strong>Ngưới bán:</strong> @item.User.UserName
                                            </div>
                                            <div class="buyer-date">
                                                <strong>Ngày đăng:</strong> @item.CreatedDate.Value.ToString("dd / MM / yyyy")
                                            </div>
                                        </div>
                                        <div class="info">

                                            <span class="icon-random"></span>
                                            <text>Chỗ ngồi:</text>
                                            @Html.Raw(item.Seat != null ? item.Seat : "<i>Tự do</i>")

                                            <div>
                                                <strong>Chú thích:</strong> <span data-unraw>@Html.Raw(item.Description)</span>
                                            </div>
                                        </div>
                                        <div class="price">
                                            <span data-vnd>@item.SellPrice</span> VNĐ
                                        </div>
                                        <div class="qrcode">
                                            @Html.QRCode(Url.Action("Buy", "Ticket", new { Id = item.TicketId }, Request.Url.Scheme), 50, 2)
                                        </div>
                                        <div class="action">
                                            @if (item.TranStatus != null)
                                            {
                                                <a href="#" class="btn btn-inverse btn-buy btn-small disabled" style="width: 85px"
                                                    data-toggle="tooltip"
                                                    title="Vé này đang được giao dịch, bấm theo dõi để nhận được thông báo nếu vé này bị hủy giao dịch">Đang giao dịch</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Buy", "Ticket", new { Id = @item.TicketId })" class="btn main buy-ticket">Đặt vé</a>
                                            }
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div class="pull-right">
                                @Html.Partial("_TicketPaging")
                            </div>
                            

                            
                        </div>
                    </div>

                    <div class="ticket-list tab-pane" id="request">
                        <table class="table table-condensed event-detail">
                            <thead>
                                <tr class="header warning">
                                    <th class="">Người yêu cầu</th>
                                    <th class="">Miêu tả</th>
                                    <th class="" style="width: 100px">Phản hồi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- row -->
                                @if (Model.Requests.Count == 0)
                                {
                                    <tr>
                                        <td colspan="3">
                                            <center> Sự kiện này chưa có yêu cầu mua vé nào</center>
                                        </td>
                                    </tr>
                                }
                                @foreach (var item in Model.Requests)
                                {
                                    
                                    <tr>
                                        <td class="user">
                                            @item.User.UserName
                                        </td>

                                        <td class="descript">
                                            @item.Description
                                        </td>

                                        <td class="action">
                                            @if (Request.IsAuthenticated)
                                            {
                                                if (item.UserId != WebSecurity.CurrentUserId)
                                                {
                                                <a href="@Url.Action("Create", "TicketResponse", new { @item.EventId, @item.UserId })" class="btn main pull-right">Phản hồi</a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    $('#event-tab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    follow_init();
</script>

