@model IEnumerable<DropIt.Models.UserFollowEvent>
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@{
    ViewBag.Title = "Manage Follow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                @if(!User.Identity.IsAuthenticated){
                    @Html.Partial("Partials/SideBar")
                }else{
                    if(Session["Role"]!=null && Session["Role"].Equals("Sell")){
                        @Html.Partial("Partials/SideBar_Sell")
                    }else{
                        @Html.Partial("Partials/SideBar_Buy")
                    }
                }
            </div>
        </div>
        <div class="display-field span9">
            <h2 class="event-name">Những sự kiện đang được theo dõi</h2>
            <blockquote>
                Bạn đang theo dõi <span class="badge badge-important">@Model.Count()</span> sự kiện
            </blockquote>
        </div>
        <div class="row span9">

            <div class="ticket-list">
                <table class="table table-condensed event-detail">
                    <thead>
                        <tr class="header warning">
                            <th class="span3">Sự Kiện</th>
                            <th class="">Thời gian</th>
                            <th class="span3">Địa điểm</th>
                            <th class="span2">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- row -->
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="first">
                                    <a href="@Url.Action("Details","Event",new {Id = item.EventId})"
                                        data-toggle="tooltip"
                                        title="Đi đến sự kiện @item.Event.EventName">
                                        @item.Event.EventName
                                    </a>
                                </td>
                                <td class="date">
                                    <a href="@Url.Action("Date","Event",new {Date = item.Event.HoldDate.ToString("dd/MM/yyyy")})"
                                        data-toggle="tooltip"
                                        title="Xem các sự kiện trong ngày @item.Event.HoldDate.ToString("dd/MM/yyyy")">
                                        @item.Event.HoldDate
                                    </a>
                                </td>
                                <td class="venue">
                                    <a href="@Url.Action("Venue","Event",new {Id = item.Event.VenueId})"
                                        data-toggle="tooltip"
                                        title="Xem các sự kiện tổ chức ở @item.Event.Venue.VenueName">
                                    @item.Event.Venue.VenueName
                                </td>
                                <td class="action">
                                    
                                    @*@using (Html.BeginForm("FollowEvent", "Event", FormMethod.Post,null)) {
                                        @Html.Button("Bỏ theo dõi",new { type = "submit" });
                                     @Html.Hidden("EventId", item.EventId);
                                    }*@
                                    <a href="#" class="btn-sub btn btn-inverse" data-follow="true" data-eventId="@item.EventId">Theo dõi</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            follow_init();
        })
    </script>