@model DropIt.Models.User
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="container" id="content">
<div class="login">
    @using (Html.HorizontalForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
         <h3>Thông Tin Tài Khoản</h3>
  
        
@*<div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>*@
            @Html.LabelAndControl("Email:", Html.TextBox("Email"))
                <div class="controls">@Html.ValidationMessageFor(m => m.Email)</div>
            @Html.LabelAndControl("Số Điện thoại:", Html.TextBox("Phone"))
                <div class="controls">@Html.ValidationMessageFor(m => m.Phone)</div>
         @Html.LabelAndControl("Số Điện thoại:", Html.TextBox("Address"))
                <div class="controls">@Html.ValidationMessageFor(m => m.Address)</div>
        

@*<div class="editor-label">
            @Html.LabelFor(model => model.Active)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Active)
            @Html.ValidationMessageFor(model => model.Active)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sellable)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sellable)
            @Html.ValidationMessageFor(model => model.Sellable)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CreatedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CreatedDate)
            @Html.ValidationMessageFor(model => model.CreatedDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ModifiedDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ModifiedDate)
            @Html.ValidationMessageFor(model => model.ModifiedDate)
        </div>*@
        @Html.LabelAndControl("Tỉnh/Thành Phố:", Html.DropDownList("ProvinceId", String.Empty))
                <div class="controls">@Html.ValidationMessageFor(m => m.ProvinceId)</div>
        <div class="manage-link">
            @Html.ActionLink("Thay đổi mật khẩu", "Manage", "Account")
        </div>
        <p>
             <button type="submit" class="btn btn-success" value="Save">Xác Nhận</button>
        </p>
    }
    
   
</div>
    </div>