@model DropIt.Models.User
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>
    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                @Html.Partial("Partials/SideBar")
            </div>
        </div>
        <div class="profile span9">
            <h3>Thông Tin Tài Khoản</h3>
            <hr />
            @using (Html.HorizontalForm())
            {
                @Html.AntiForgeryToken()
                <div class="control-group">
                    <label class="control-label">Tên đầy đủ:</label>
                    <div class="controls">
                        <div class="display-profile">
                            <strong>
                                @Html.DisplayFor(model => model.FullName)
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Địa chỉ:</label>
                    <div class="controls">
                        <div class="display-profile">
                            @Html.DisplayFor(model => model.Address)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Tỉnh/Thành Phố:</label>
                    <div class="controls">
                        <div class="display-profile">
                            @Html.DisplayFor(model => model.Province.ProvinceName)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Tình trạng:</label>
                    <div class="controls">
                        <div class="display-profile">
                            @if (Model.Active == true)
                            {
                                @Html.Encode("Đang hoạt động")
                            }
                            @if (Model.Active == false)
                            {
                                @Html.Encode("Bị khóa")
                            }
                        </div>
                    </div>
                </div>
               
            }
        </div>
        <div class="profile span9">
            <h3>Thông tin giao dịch</h3>
            <hr />
            @using (Html.HorizontalForm())
            {
                
                <div class="control-group">
                    <label class="control-label">Số vé đã bán:</label>
                    <div class="controls">
                        <div class="display-profile">
                            @Html.DisplayFor(model => model.Tickets.Count)
                        </div>
                    </div>
                </div>
               
                <div class="control-group">
                    <label class="control-label">Số giao dịch thành công:</label>
                    <div class="controls">
                        <div class="display-profile">
                            @ViewBag.Success
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Số vé vi phạm:</label>
                    <div class="controls">
                        <div class="display-profile">
                            @ViewBag.Invalid
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Đánh giá uy tín:</label>
                    <div class="controls">
                        <div class="display-profile">
                            <span class="rating">@ViewBag.Rate</span>
                        </div>
                    </div>
                </div>
               
            }
        </div>


        <style>
            .profile {
                font-size: 15px;
            }


            .form-horizontal .control-group {
                margin-bottom: 10px;
                margin-left: 50px;
            }

            .display-profile {
                margin-top: 5px;
            }
        </style>
    </div>
</div>
