@model DropIt.Models.Ticket
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@using DropIt.Common
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Content/ckeditor/ckeditor.js")
<div class="container" id="content">
    <div class="form1" id="edit_ticket">
        @using (Html.HorizontalForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <h2>Sửa thông tin của vé</h2>

            @Html.HiddenFor(model => model.TicketId)
            double see = Double.Parse(Settings.get("ServiceFee"));
            <div class="control-group">
                <label class="control-label" for="EventId">Tên Sự kiện:</label>
                <div class="controls">
                    <div class="input-append">
                        <span data-bind="visible: isCreateEvent() == false">
                            @Html.DropDownList("EventId", (SelectList)ViewBag.EventId, new { data_bind = "value : EventId, event :{ change : selectVenueChange}, select2:{}", style = "width: 364px;" })
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.EventId)
                </div>
            </div>
        
            <div class="control-group">
                <label class="control-label">Mã vé:</label>
                <div class="controls">
                    <div class="input-append">
                        @Html.EditorFor(model => model.SeriesNumber)
                    </div>
                    @Html.ValidationMessageFor(model => model.SeriesNumber)
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">Ghế ngồi:</label>
                <div class="controls">
                    <div class="input-append">
                        @Html.EditorFor(model => model.Seat)
                    </div>
                    @Html.ValidationMessageFor(model => model.Seat)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="EventId">Giá bán:</label>
                <div class="controls">
                    <div class="input-append">
                        @Html.TextBox("SellPrice", @Model.SellPrice, new { onchange = "countMoney()" })
                    </div>
                    @Html.ValidationMessageFor(model => model.SellPrice)
                </div>
            </div>
            <input type="hidden" id="servicefee" value="@see"/>
            <div class="control-group">
                <label class="control-label" for="EventId">Tiền nhận được:</label>
                <div class="controls">
                    <div class="input-append">
                        @Html.TextBox("ReceiveMoney", @Model.ReceiveMoney, new { disabled = "true", data_bind = "value:RecievePrice" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ReceiveMoney)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="description">Ghi chú (tùy chọn):</label>
                <div class="controls">
                    <div class="input-append">
                        <textarea name="Description" id="description" style="width: 100%; height: 100px;">@Model.Description</textarea>
                    </div>
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
            <div class="edit-group">
                <button type="submit" class="btn btn-gen">Đăng vé</button>
                <a href="@Url.Action("Manage", "Ticket")" class="btn btn-cancel">Quay về</a>
            </div>
                    
        }

    </div>
</div>
<style>
    .cke_inner {
        width: 362px;
    }
</style>
<script type="text/javascript">
    CKEDITOR.replace('description', {
        toolbar: [
   {
       name: 'insert', items: ['Image', 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak']
   },
           '/',
   { name: 'styles', items: ['Styles', 'Format'] },
   { name: 'basicstyles', items: ['Bold', 'Italic', 'Strike', '-', 'RemoveFormat'] },
   { name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote'] },
   { name: 'links', items: ['Link', 'Unlink', 'Anchor'] }
        ]
    })

    $("#EventId").select2();
    function countMoney() {
        var serRate = $("#servicefee").val();
        var sellprice = document.getElementById("SellPrice").value;
        var receiveMoney = sellprice * (1 - serRate);
        var money = Math.floor(receiveMoney / 500) * 500;
        document.getElementById("ReceiveMoney").value = money.formatMoney(0, ".", ",");
    }

</script>
