@model DropIt.ViewModels.UserViewModel
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="container" id="content">
    <div class="login">
        @using (Html.HorizontalForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <h3>Thông Tin Tài Khoản</h3>
  
            @Html.LabelAndControl("Tên đầy đủ", Html.TextBox("FullName"))      
            @Html.LabelAndControl("Email:", Html.TextBox("Email"))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.Email)</div>
            @Html.LabelAndControl("Số Điện thoại:", Html.TextBox("Phone"))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.Phone)</div>
            @Html.LabelAndControl("Địa chỉ:", Html.TextBox("Address"))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.Address)</div>
            @Html.LabelAndControl("Tên ngân hàng", Html.TextBox("BankName"))
            
            @Html.LabelAndControl("Tài khoản ngân hàng", Html.TextBox("BankAccount"))
            
            @Html.LabelAndControl("Số CMND", Html.TextBox("IdentityCard"))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.IdentityCard)</div>        
        
            @Html.LabelAndControl("Tỉnh/Thành Phố:", Html.DropDownList("ProvinceId", String.Empty))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.ProvinceId)</div>
            <div class="manage-link">
                @Html.ActionLink("Thay đổi mật khẩu", "Manage", "Account")
            </div>
            <p>
                <button type="submit" class="btn btn-success" value="Save">Xác Nhận</button>
            </p>
        }
    
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}