@model DropIt.Models.RegisterModel
@using BootstrapExtensions.Base
@using BootstrapExtensions.Base.Button
@using BootstrapExtensions.Base.Form
@using BootstrapExtensions.Base.Form.Label
@using BootstrapExtensions.Components.Alert
@{
    ViewBag.Title = "Register";
}

<div class="container" id="content">
    <div class="register">
        @using (Html.HorizontalForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "alert alert-error" })   
            <h2>Đăng Ký</h2>

            @Html.LabelAndControl("Tên Tài khoản", Html.TextBox("UserName"))
            <div class="controls validate">
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            
            @Html.LabelAndControl("Tên đầy đủ", Html.TextBox("FullName"))            
            
            @Html.LabelAndControl("Mật Khẩu", Html.Password("Password"))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.Password)</div>
            
            @Html.LabelAndControl("Nhập lại Mật khẩu", Html.Password("ConfirmPassword"))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
            
            @Html.LabelAndControl("Email", Html.TextBox("Email"))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.Email)</div>
            
            @Html.LabelAndControl("Số điện thoại", Html.TextBox("Phone"))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.Phone)</div>
            
            @Html.LabelAndControl("Địa chỉ", Html.TextBox("Address"))
            <div class="controls validate">@Html.ValidationMessageFor(m => m.Address)</div>
            
            <div id="province">
                @Html.DropDownList("ProvinceId", (SelectList)ViewBag.ProvinceId)
            </div>
            
            @Html.LabelAndControl("Tên ngân hàng", Html.TextBox("BankName"))
            
            @Html.LabelAndControl("Tài khoản ngân hàng", Html.TextBox("BankAccount"))
            
            @Html.LabelAndControl("Số CMND", Html.TextBox("CMND"))
            <div class="controls validate">
                @Html.ValidationMessageFor(m => m.CMND)
            </div>
            
            <div>
            <label class="checkbox">
                <span class="help-block">Điều Khoản Sử Dụng</span>
                      <span class="condition"></span>  
                <input type="checkbox">
                Tôi Đồng ý với tất cả các điều kiện trên.
            </label>
                </div>
            <button type="submit" class="btn btn-register btn-success" value="Register">Đăng Ký</button>
       
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
