@model IEnumerable<DropIt.Models.Event>
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                @Html.Partial("Partials/SideBar")
            </div>
        </div>
        <div class="span9">
            <h4>Top 5 sự kiện có vé nhiều nhất</h4>
            <hr />
            <div class="event-list compact">
                @foreach (var item in Model)
                {
                    <div class="event row-fluid">
                        <div class="span4 thumb">
                            <a href="@Url.Action("Details", "Event", new { Id = item.EventId })">
                                <div class="event-image" style="background-image:url('@Url.Action("Image", "Event", new { Id = item.EventId })')"></div>
                            </a>
                        </div>
                        <div class="span6 description">
                            <p class="event-title">
                                <a href="@Url.Action("Details", "Event", new { Id = item.EventId })">
                                    <span
                                        class="event-name">@item.EventName</span>
                                </a>
                            </p>
                            <div class="misc">
                                <div>
                                    <span class="icon-tags"></span>
                                    <span><span class="badge badge-info">@item.Tickets.Count()</span> Vé đang bán</span>
                                </div>
                                <div class="place">
                                    <span class="icon-map-marker"></span>
                                    <span title="@item.Venue.Address , @item.Venue.Province.ProvinceName">@item.Venue.VenueName</span>

                                </div>
                                <div class="artist">
                                    <span class=" icon-star"></span>
                                    <span
                                        class="artist">@item.Artist</span>
                                </div>
                            </div>
                        </div>
                        <div class="span2 datetime">
                            <div class="date">
                                @{
                    var clone = new DateTime(item.HoldDate.Ticks);
                    var Month = clone.ToShortMonthName();
                                }
                                <div class="month">@Month</div>
                                <div class="clr"></div>
                                <div class="day">@item.HoldDate.ToString("dd")</div>
                                <div class="start" style="display: none">7/26/2013 6:00:00 PM</div>
                            </div>
                            <div class="time">
                                <span class="icon-time"></span>
                                @item.HoldDate.ToString("hh") :
                    @item.HoldDate.ToString("mm")
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="span9">
                <h4>Top các người bán uy tín</h4>
                <hr />
                <div class="ticket-list">
                    <table class="table table-condensed event-detail">
                        <thead>
                            <tr class="header warning">
                                <th class="">Tên tài khoản</th>
                                <th class="">Số vé đã bán</th>
                                <th class="">Đánh giá uy tín</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
