@model IEnumerable<DropIt.Models.Event>
@using DropIt.Common

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@Html.Partial("Partials/RoleTab")
<!--Area: Page Header & Navigation & Search.END-->
<div class="container home" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span12">
            <div id="main-nav" class="navbar span12">
                <ul class="nav">
                    <li class="dropdown @(ViewBag.sortBy=="ticket"||ViewBag.sortBy=="request"||ViewBag.sortBy=="selling"?"active":"")" >
                        <a href="#" data-toggle="dropdown">Top Các Sự Kiện<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="@(ViewBag.sortBy=="ticket"?"active":"")">
                                <a href="@Url.Action("Index", "Home", null, "http")">Có vé được đăng</a>
                            </li>
                            <li class="@(ViewBag.sortBy=="selling"?"active":"")">
                                <a href="@Url.Action("Index", "Home", new { sortBy="selling" }, "http")">Được mua vé</a>
                            </li>
                            <li class="@(ViewBag.sortBy=="request"?"active":"")">
                                <a href="@Url.Action("Index", "Home", new { sortBy="request" }, "http")">Có nhiều yêu cầu</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(ViewBag.sortBy=="upcoming"?"active":"")">@Html.ActionLink("Sự kiện sắp tới","Index",new { sortBy="upcoming" })</li>
                    <li><a href="/Ticket/Request">Đăng Rao Mua</a></li>
                    <li><a href="/Ticket/Create">Đăng Bán Vé</a></li>
                </ul>
                
            </div>
            @Html.Partial("Partials/EventDisplayMode")
            @Html.Partial("_EventList")
            
        </div>
    </div>
</div>
