@model IEnumerable<DropIt.Models.Event>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<!--Area: Page Header & Navigation & Search.END-->
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span12">
            <div id="main-nav" class="navbar span12">
                <ul class="nav">
                    <li class="active"><a href="@Url.Action("Index", "Home", null, "http")">Top Các Sự Kiện</a></li>
                    <li><a href="#">Sự Kiện Mới</a></li>
                    <li><a href="/Ticket/Request">Đăng Rao Mua</a></li>
                    <li><a href="/Ticket/Create">Đăng Bán Vé</a></li>
                </ul>
            </div>
            <div id="ticket-show" class="row">
                @foreach (var item in Model)
                { 
                    <a href="@Url.Action("Details", "Event", new { id = item.EventId })">
                        <div class="item">
                            <div class="image-item" style="background-image:url('@HttpUtility.UrlPathEncode(Url.Content(item.EventImage == null ? "/Content/Images/no_image.jpg" : item.EventImage))')";>
                            </div>
                            <div class="item-event-date">
                                <div class="item-date">
                                    @{if (@item.HoldDate.Day < 10)
                                      {<span>0 </span> @item.HoldDate.Day }
                                      else
                                      {
                                        @item.HoldDate.Day
                                      }                               
                                    }
                                    &nbsp;
                                </div>
                                <div class="item-time">
                                    <div class="item-month">
                                        @{if (@item.HoldDate.Month < 10)
                                          {<span>0</span>@item.HoldDate.Month }
                                          else
                                          {
                                            @item.HoldDate.Month
                                          }                               
                                        }
                                    </div>
                                    <div class="item-year">@item.HoldDate.Year</div>
                                </div>
                            </div>
                            <div class="detail">
                                <h5 class="name-event">@item.EventName</h5>

                                <p>Số Lượng Vé: @item.Tickets.Count</p>

                                <p>
                                    Địa Điểm: @{if (@item.Venue.VenueName.Length > 18)
                                                {@item.Venue.VenueName.Substring(0, 18)<span>...</span> }
                                                else
                                                { @item.Venue.VenueName }
                                    }
                                </p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

