@model IEnumerable<DropIt.Models.Event>

@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.Partial("Partials/SideBar")
                }
                else
                {
                    if (Session["Role"] != null && Session["Role"].Equals("Sell"))
                    {
                    @Html.Partial("Partials/SideBar_Sell")
                    }
                    else
                    {
                    @Html.Partial("Partials/SideBar_Buy");
                    }
                }
            </div>
        </div>
        <div class="display-field span9">
            <h2 class="event-name">Kết quả tìm kiếm của bạn: </h2>
            <blockquote>
                Những Sự kiện liên quan....
            </blockquote>
        </div>
        <div class="row span9">
            <div class="ticket-list">
                <table class="table table-condensed event-detail">
                    <thead>
                        <tr class="header warning">
                            <th class="span3">Tên sự kiện</th>
                            <th class="">Thời gian</th>
                            <th class="span2">Địa điểm</th>
                            <th class="span2">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EventName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HoldDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Venue.VenueName)
                                </td>
                                <td class="action">
                                    <a href="@Url.Action("Details", "Event", new { id = item.EventId })" class="btn btn-inverse btn-buy btn-small">Chi tiết</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
