@model DropIt.ViewModels.SearchResultViewModel

@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">

                    @Html.Partial("Partials/SideBar")

            </div>
        </div>
        <div class="span9" id="main-content">
            <div class="inner-content">
                <div class="display-field">
                    <h2 class="event-name">Kết quả tìm kiếm của bạn: </h2>
                    <blockquote>
                        Những Sự kiện liên quan....
                    </blockquote>
                </div>
                <div class="row">
                    <form>
                        <input type="hidden" value="@Request["query"]" name="query" />
                        <div class="pull-right">
                            Sắp xếp: 
                    <div class="btn-group">
                        <button class="btn" name="sortBy" value="relevant" 
                            @if (Request["sortBy"] == null || Request["sortBy"] == "" || Request["sortBy"] == "relevant")
                            {
                                @:disabled
                            }
                            >
                            Gần giống</button>
                        <button class="btn" name="sortBy" value="HoldDate"
                            @if (Request["sortBy"] == "HoldDate")
                            {
                                @:disabled
                            }
                            >
                            Ngày diễn ra</button>
                    </div>
                        </div>
                    </form>
                </div>
                <br />
                <div class="row">

                    @{
                        ViewBag.Items = Model.Result;
                        //ViewBag.Items_ExtraTemplate = "Partials/Templates/EventList_Item_Extra_Search";
                        ViewBag.EventListClass = "compact";
                        ViewBag.Paging_TotalRecordCount = Model.TotalCount;
                        try
                        {
                            ViewBag.Paging_StartIndex = Int32.Parse(Request["StartIndex"]);
                        }
                        catch (Exception e) { }
                        ViewBag.Paging_ExtraParameters = String.Format("&query={0}&sortBy={1}",
                            Request["query"],
                            Request["sortBy"]);
                    }
                    @Html.Partial("Partials/Templates/EventList")
                    <div class="pull-right">
                        @Html.Partial("Partials/Templates/Paging")
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
    <script>
        function highlightResult($span) {
            try {
                var matches = $span.attr("data-matches").split(",");
                var html = $span.html();
                for (var i = 0; i < matches.length; i++) {
                    var search = matches[i];
                    if (search == "") continue;
                    html = html.replace(search, "<strong>#{0}</strong>".eval(search));
                }
                $span.html(html);
            } catch (e) {
                console.error(e.message);
            }
        }
        function init() {
            $(".event-list .event-name").each(function () {
                highlightResult($(this));
            })
            $(".event-list .artist").each(function () {
                highlightResult($(this));
            })
            //$("#main-content .pagination li").not(".active").find("a").click(function (e) {
            //    var href = $(this)[0].href;
            //    $("#main-content").load(href + " #main-content .inner-content", function () {
            //        init();
            //    });
            //    e.preventDefault();
            //    return false;
            //})
        }
        $(function () {
            init();
        })
    </script>
