@model DropIt.ViewModels.SearchResultViewModel

@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
                <div class="sidebar-nav">
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.Partial("Partials/SideBar")
                }
                else
                {
                    if (Session["Role"] != null && Session["Role"].Equals("Sell"))
                    {
                    @Html.Partial("Partials/SideBar_Sell")
                    }
                    else
                    {
                    @Html.Partial("Partials/SideBar_Buy");
                    }
                }
            </div>
        </div>
        <div class="span9">
            <div class="display-field">
                <h2 class="event-name">Kết quả tìm kiếm của bạn: </h2>
                <blockquote>
                    Những Sự kiện liên quan....
                </blockquote>
            </div>
            <style>
                ul.search-result {
                    list-style:none;
                }
                ul.search-result li {
                    position:relative;
                    background-repeat:no-repeat;
                    height:100px;
                    border:1px solid #431f59;
                    margin:10px;
                    background-position:top right;
                    background-size:auto 100px;
                    -webkit-transition: all 0.5s;
                }
                    ul.search-result li:hover {
                        box-shadow:0 0 20px rgba(0,0,0,.3);
                        -webkit-transform:scale(1.1);
                    }
                    ul.search-result li a {
                        text-decoration:none;
                        width:100%;
                        height:100%;
                        color:black;
                        padding:10px;
                        
                        box-sizing:border-box;
                        display:block;
                    }
            </style>
            <div class="row">
                <form>
                <input type="hidden" value="@Request["query"]" name="query" />
                <div class="pull-right">
                    Sắp xếp: 
                    <div class="btn-group">
                        <button class="btn" name="sortBy" value="relevant" 
                            @if(Request["sortBy"]==null || Request["sortBy"] == "relevant"){
                                @:disabled
                            }
                            >Gần giống</button>
                        <button class="btn" name="sortBy" value="HoldDate"
                            @if(Request["sortBy"] == "HoldDate"){
                                @:disabled
                            }
                            >Ngày diễn ra</button>
                    </div>
                </div>
                </form>
            </div>
            <div class="row">
                
                <ul class="ticket-list search-result">
                    @foreach (var item in Model.Result)
                    {    
                        
                            <li @{if(item.EventImage != null){<text>style="background-image:url(@Url.Content(item.EventImage))"</text>}} >
                            <a href="@Url.Action("Details", "Event", new { Id = item.EventId })">
                            <strong>Sự kiện :</strong> <span 
                                class="event-name"
                                data-matches ="@foreach(string matched in item.EventName.Matches)
                                               {
                                                   @(matched+",")
                                               }"
                                
                                >@item.EventName.Value</span>
                            <br />
                            <strong>Địa điểm: </strong>@item.VenueName
                            <br />
                            <strong>Nghệ sĩ : </strong><span 
                                class="artist"
                                data-matches ="@foreach(string matched in item.Artist.Matches)
                                               {
                                                   @(matched+",")
                                               }"
                                
                                >@item.Artist.Value</span>
                            <br />
                            <strong>Ngày diễn ra :</strong> <span data-rawdate="full">@Html.Raw(Json.Encode(item.HoldDate))</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>


    </div>
    <script>
        function highlightResult($span) {
            try{
                var matches = $span.attr("data-matches").split(",");
                var html = $span.html();
                for (var i = 0; i < matches.length; i++) {
                    var search = matches[i];
                    if (search == "") continue;
                    html = html.replace(search, "<strong>#{0}</strong>".eval(search));
                }
                $span.html(html);
            } catch (e) {
                console.error(e.message);
            }
        }
        $(function(){
            $(".search-result .event-name").each(function(){
                highlightResult($(this));
            })
            $(".search-result .artist").each(function () {
                highlightResult($(this));
            })
        })
    </script>
