@model DropIt.Areas.Administration.ViewModels.EventViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/Bundles/jquery.validate")
<script>
    var categories = @Html.Raw(Json.Encode(ViewBag.CategoryId)),
        Model = @Html.Raw(Json.Encode(Model));
</script>
<style>
    label {
        font-weight:bold;
    }
    .input {
        margin-top: 15px;
    }
</style>
<div class="box" style="clear:both">
    <div class="tab-header">
        Chỉnh sửa sự kiện
    </div>
    <form class="fill-up" id="createEvent" method="post" enctype="multipart/form-data">
        <div class="row-fluid">
            <div class="span6">
                <div class="padded">
                    <input type="hidden" name="EventId" value="@Model.EventId" />
                    <div class="input">
                        <label for="eventName">Tên sự kiện</label>
                        <input id="eventName" name="EventName" value="@Model.EventName" type="text"/>
                    </div>
                    <div class="input">
                        <label for="category">Danh mục</label>
                        
                        <select id="category" name="CategoryId" style="width:100%" value="@Model.CategoryId">

                        </select>
                    </div>
                    <div class="input">
                        <label for="holdDate">Ngày diễn ra</label>
                        <input id="holdDate" type="datetime-local" class="" name="HoldDate" value="@Model.HoldDate"/>
                    </div>
                    <div class="input">
                        <label for="artist">Nghệ sĩ tham gia</label>
                        <input id="artist" type="text" class="" name="Artist" value="@Model.Artist"/>
                    </div>
                    <div class="input">
                        <label for="venue">Địa điểm</label>
                        @Html.DropDownList("VenueId",(SelectList)ViewBag.VenueId, new { id="venue",name="VenueId",style="width:100%" })
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="padded">
                    <div class="input">
                        <label for="eventImage">Hình đại diện cho sự kiện</label>
                        <input type="file" id="eventImage" name="EventImage" class="previewUpload"/>
                        <img src="@(Model.EventImage==null?Url.Content("~/Content/Images/no_image.jpg"):Model.EventImage)" class="previewUpload"/>
                    </div>
                    <div class="input">
                        <label for="description">Chú thích</label>
                        <textarea name="Description" id="description" style="width:100%;height:100px;">@Model.Description</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="button blue">Cập nhật</button>
            <a href="@Url.Action("Index")" class="button">Hủy</a>
            @*<div class="pull-right">
                <span class="checky-label-left">
                  Đăng sự kiện
                </span>
                <input type="checkbox" name="isApprove" id="approve" checked="checked" class="checky">
                <label for="approve" class="checky"><span></span></label>
              </div>*@
        </div>
    </form>
</div>
<script>
    validateOptions = {
        rules: {
            EventName: {
                required: true
            },
            CategoryId: {
                required: true
            },
            HoldDate: {
                required: true
            },
            VenueId: {
                required: true
            }
        },
        messages: {
            EventName: "Cần phải điền tên sự kiện",
            CategoryId: "Phải chọn danh mục",
            HoldDate: "Phải chọn ngày giờ diễn ra",
            VenueId: "Phải chọn địa điểm diễn ra sự kiện"
        }
        //,
        //errorLabelContainer:$('.validation-summary-errors')
        , errorElement: "span",
        errorClass: "error",
        errorPlacement: function (error, element) {
            error.insertAfter(element.parent().find("label"));
        },
        ignore:".select2-focusser,.select2-input"
    }

    $("#createEvent").validate(validateOptions);
    try{
        $("#holdDate").val(new Date().toDateTimeInputString());
    }catch(e){

    }
    previewUpload();
    generateGroupDropDownList(categories,$("#category"),"CategoryId","CategoryName");
    $("select").select2();
    $("#holdDate").val(Date.fromRawJSON(Model.HoldDate).toDateTimeInputString())
    $("#category").select2("val",Model.CategoryId);
    $("#venue").select2("val",Model.VenueId);

    function submit(){
        Loading(true,true);
        var formData = new FormData($("#createEvent")[0]);
        function success(rs){
            Loading(false);
            if(rs.Result && rs.Result == "OK"){
                location = Url({Action:"Index"})
            }else{
                $.fn.dialog2.helpers.alert("Lỗi: "+rs.Message);
            }
        }
        $.ajax({
            url: Url({Action:"Edit"}),
            type:"POST",
            data: formData,
            success: success,
            processData: false,
            contentType: false,
        });
    }
    $("#createEvent").submit(function(e){
        if($("#createEvent").valid()){
            submit();
            return false;
        }
    })
</script>