@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administration/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Bundles/jquery.validate")
<script>
    var EventStatus = @ViewBag.EventStatus;
    var Statuses = {
        Approve : @((int)DropIt.Common.Statuses.Event.Approve),
        Disapprove : @((int)DropIt.Common.Statuses.Event.Disapprove),
        Trading:@((int)DropIt.Common.Statuses.Event.Trading),
        Outdate:@((int)DropIt.Common.Statuses.Event.Outdate)
        }
</script>
<style>
    table th:nth-child(1) {
        width: 22%;
        min-width: 200px;
    }

    table th:nth-child(2) {
        width: 200px;
    }

    table th:nth-child(3) {
        width: 130px;
    }

    table th:nth-child(4) {
    }

    table th:nth-child(5) {
        width: 120px;
    }

    table th:nth-child(6) {
    }

    .popover {
        max-width: 600px;
        width: auto;
    }
</style>
<div class="row-fluid">
    <div class="span8 status-filter">
        @*        <a href="@Url.Action("Index", new { EventStatus = -1 })" class="button large">
            <i class="icon-th"></i>
            <span>Tất cả</span>
        </a>*@
        <div class="btn-group">
            <a href="@Url.Action("Index", new { EventStatus = (int)DropIt.Common.Statuses.Event.Disapprove })" class="btn btn-large active">
                <i class="icon-bullhorn"></i>
                <span>Chưa duyệt</span>
            </a>
            <a href="@Url.Action("Index", new { EventStatus = (int)DropIt.Common.Statuses.Event.Approve })" class="btn btn-large">
                <i class="icon-ok"></i>
                <span>Đã duyệt</span>
            </a>
            <a style="display: none"></a>
            <a href="@Url.Action("Index", new { EventStatus = (int)DropIt.Common.Statuses.Event.Trading })" class="btn btn-large">
                <i class="icon-road"></i>
                <span>Đang giao dịch</span>
            </a>
            <a href="@Url.Action("Index", new { EventStatus = (int)DropIt.Common.Statuses.Event.Outdate })" class="btn btn-large">
                <i class="icon-time"></i>
                <span>Quá ngày</span>
            </a>
        </div>
    </div>
    <div class="span4">
        <div class="pull-right" style="">
            <a href="@Url.Action("Create")" class="button large blue">
                <i class="icon-plus"></i>
                <span>Tạo sự kiện</span>
            </a>
        </div>
    </div>
</div>


<table class="table table-bordered box">
    <thead>
        <tr>
            <th class="sortable" data-bind="click: function (data, event) { sort('EventName', data, event) }">Tên sự kiện</th>
            <th>Danh mục</th>
            <th class="sortable" data-bind="click: function (data, event) { sort('HoldDate', data, event) }">Ngày tổ chức</th>
            <th>Địa điểm</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: data">
        <tr>
            <td data-bind="">
                <a href="" data-bind="
    text: EventName,
    attr: {
        href: Url({ Action: 'Edit', Data: { Id: EventId } }),
        title: EventName,
        'data-content':EventDetail
    }
                    "
                    data-toggle="popover"
                    data-trigger="hover"
                    data-html="true"></a>
            </td>
            <td data-bind="text: Category.CategoryName"></td>
            <td>
                <span data-bind="
    text: HoldDate.toDateString(),
    attr:{
        title: HoldDate.toLocaleString('vn')
    }
    "
                    data-toggle="tooltip"></span>
            </td>
            <td>
                <a data-bind="
    text: Venue.VenueName,
    attr: {
        title: Venue.VenueName,
        'data-content':VenueDetail
    }"
                    data-toggle="popover"
                    data-trigger="hover"
                    data-html="true"></a>
            </td>

            <td>
                <a href="javascript:;"
                    class="button green"
                    data-bind="click:$root.Approve,visible:Status==Statuses.Disapprove">Duyệt
                </a>
                <a href="javascript:;"
                    class="button red"
                    data-bind="click:$root.Delete,visible:Status==Statuses.Disapprove">Xóa
                </a>

                <a href="javascript:;"
                    class="button black"
                    data-bind="click:$root.Disapprove,visible:Status==Statuses.Approve && haveTicketTran == false">Bỏ duyệt
                </a>
                <a href="javascript:;"
                    class="button red"
                    data-bind="click:$root.Delete,visible:Status==Statuses.Outdate">Xóa
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div class="pagination pull-right" data-bind="visible: pageCount() > 0">
    <ul data-bind="foreach: new Array(pageCount())">
        <li data-bind="css: {active: $index()+1 == $root.currentPage()}">
            <a href="javascript:;" data-bind="click: function (data,event) { $root.changePage($index(),data,event)}">
                <span data-bind="text: ($index()+1)"></span>
            </a>
        </li>
    </ul>
</div>


<style>

</style>
<script>
    
    var list = new DataList();
    list.url_getList = {Controller:"Event",Action:"List"};
    list.extraData = {
        EventStatus:EventStatus
    }
    list.changeStatus = function (stt) {
        $(".status-filter > div > a").removeClass("active");
        $(".status-filter > div > a").eq(stt).addClass("active");
        list.extraData.EventStatus = stt;
        list.currentPage(1);
        list.getList();
    }

    list.Disapprove = function(item){
        list.AjaxAction({
            item:item,
            urlData:{Action:"Disapprove",Data:{Id:item.EventId}},
            callback:function(event){
                Notifications.push({
                    imagePath: Url(event.EventImage),
                    fillImage:true,
                    text:"Sự kiện \"#{EventName}\" đã được bỏ duyệt !".eval(event),
                    autoDismiss:5
                })
            }
        })
    }
    list.Approve = function(item){
        list.AjaxAction({
            item:item,
            urlData:{Action:"Approve",Data:{Id:item.EventId}},
            callback:function(event){
                Notifications.push({
                    imagePath: Url(event.EventImage),
                    fillImage:true,
                    text:"Sự kiện \"#{EventName}\" đã được duyệt !".eval(event),
                    autoDismiss:5
                })
            }
        })
    }
    list.Delete = function(item){
        $.fn.dialog2.helpers.confirm("Bạn có chắc là muốn xóa sự kiện \""+item.EventName+"\" ?",
            {
                title: "Xác nhận",
                confirm:function(){
                    list.AjaxAction({
                        item:item,
                        urlData:{Action:"Delete",Data:{Id:item.EventId}},
                        callback:function(event){
                            Notifications.push({
                                imagePath: Url(event.EventImage),
                                fillImage:true,
                                text:"Sự kiện \"#{EventName}\" đã được xóa !".eval(event),
                                autoDismiss:5
                            })
                        }
                    })
                }
            }
        )
    }

    list.getList(function () {
        ko.applyBindings(list);
    });

    $(".status-filter > div > a").eq(0).attr("href","javascript:;").click(function(e){
        list.changeStatus(0);
        e.preventDefault();
        return false;
    })

    $(".status-filter > div > a").eq(1).attr("href","javascript:;").click(function(e){
        list.changeStatus(1);
        e.preventDefault();
        return false;
    })
    
    $(".status-filter > div > a").eq(3).attr("href","javascript:;").click(function(e){
        list.changeStatus(3);
        e.preventDefault();
        return false;
    })

    $(".status-filter > div > a").eq(4).attr("href","javascript:;").click(function(e){
        list.changeStatus(4);
        e.preventDefault();
        return false;
    })

</script>
