@model IEnumerable<DropIt.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="span12">
    <h4>Category</h4>
</div>
<div class="row-fluid filter-block">
    <div class="pull-right">
        <div class="ui-select">
            <select>
                <option>Filter events</option>
                <option>abc</option>
                <option>xyz</option>
            </select>
        </div>
        <input type="text" class="search">
        <a class="btn-flat success new-event">@Html.ActionLink("Add New Category", "Create")</a>
    </div>
</div>

<div class="row-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="span3">
                    <input type="checkbox">
                  @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th class="span3">
                    <span class="line"></span>@Html.DisplayNameFor(model => model.Category2)
                </th>
                <th class="span3">
                    <span class="line"></span>@Html.DisplayNameFor(model => model.Description)
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- row -->
            @foreach (var item in Model)
            {
                <tr class="first">
                    <td>
                        <input type="checkbox">
                        <a href="#" class="name">@Html.DisplayFor(modelItem => item.CategoryName)</a>
                    </td>
                    <td class="ParentName">
                        @Html.DisplayFor(modelItem => item.Category2.CategoryName)
                    </td>
                    <td class="description">
                        @Html.DisplayFor(modelItem => item.Description)
                        <ul class="actions">
                            <li>@Html.ActionLink("Edit", "Edit", new { id = item.CategoryId })</li>
                            <li class="last">@Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })</li>
                            <li>@Html.ActionLink("Details", "Details", new { id = item.CategoryId })</li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
