@model IEnumerable<DropIt.Models.Ticket>
@{
    ViewBag.Title = "HistoryBuy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

<div class="row">
    <div class="span3">
        <div class="sidebar-nav">
                @if(!User.Identity.IsAuthenticated){
                    @Html.Partial("Partials/SideBar")
                }else{
                    if(Session["Role"]!=null && Session["Role"].Equals("Sell")){
                        @Html.Partial("Partials/SideBar_Sell")
                    }else{
                        @Html.Partial("Partials/SideBar_Buy");
                    }
                }
            </div>
    </div>

    <div class="span9">
        @using (Html.BeginForm()){     
            <p>
            
            
            <ul class="nav nav-tabs">
            @{                
                var statuses = Enum.GetValues(typeof(DropIt.Common.Statuses.BuyTicket)).Cast<Int32>().ToList();
                foreach (int statusValue in statuses)
                {
                    var classes = "";
                    if ((int)ViewBag.CurrentStatus == statusValue)
                    {
                        classes = "active";
                    }
                        
                    <li class="@classes">
                        <a href="@Url.Action("HistoryBuy", new { status = statusValue })">
                            @DropIt.Common.Statuses.getText("BuyTicketStrings",statusValue)
                        </a>
                    </li>
                }
            }
            </ul>

            </p> 
            
        } 
        @if(Model.Count()==0){
        <center>
            <p>Không có giao dịch nào @DropIt.Common.Statuses.getText("BuyTicketStrings",(int)ViewBag.CurrentStatus)</p>
        </center>
        }else{
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <span class="line"></span>Thời gian tổ chức
                    </th>
                    <th>
                        <span class="line"></span>Sự kiện
                    </th>
                    <th>
                        <span class="line"></span>Miêu tả ghế
                    </th>
                    <th>
                        <span class="line"></span>Tiền mua
                    </th>
                    <th>
                        <span class="line"></span>Người bán
                    </th>
                    <th>
@*                        <span class="line"></span>Tình trạng
                    </th>*@
                </tr>
            </thead>
            <tbody>
                <!-- row -->
                @foreach (var item in Model)
                {
                    <tr class="first">
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.HoldDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.EventName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Seat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SellPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.UserName)
                        </td>
                        <td>
@*                            @Html.DisplayFor(modelItem => item.TranStatus)
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>
</div>
