@model IEnumerable<DropIt.Models.Ticket>
@{
    ViewBag.Title = "HistoryBuy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>
    <style>
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    </style>
    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                @Html.Partial("Partials/SideBar")
            </div>
        </div>

        <div class="span9">
            @using (Html.BeginForm())
            {     
                <p>

                    <ul class="nav nav-tabs">
                        @{                
                var statuses = Enum.GetValues(typeof(DropIt.Common.Statuses.Transaction)).Cast<Int32>().ToList();

                foreach (int statusValue in statuses)
                {
                    if (statusValue == (int)DropIt.Common.Statuses.Transaction.Canceled || statusValue == (int)DropIt.Common.Statuses.Transaction.Unpaid)
                    {
                        continue;
                    }
                    var classes = "";
                    if ((int)ViewBag.CurrentStatus == statusValue)
                    {
                        classes = "active";
                    }
                        
                            <li class="@classes">
                                <a href="@Url.Action("HistoryBuy", new { status = statusValue })">
                                    @DropIt.Common.Statuses.getText("BuyTicketStrings", statusValue)
                                </a>
                            </li>
                }
                            <li style="float: right; margin-top: 15px; font-size: 16px; font-style: italic;" class="main">
                                @if ((int)ViewBag.CurrentStatus == (int)Statuses.Transaction.Paid)
                                {
                                    <span>
                                    Các giao dịch đã được thanh toán, chờ chuyển vé
                                    </span>
                                }
                                else if ((int)ViewBag.CurrentStatus == (int)Statuses.Transaction.Delivered)
                                {
                                    <span>Các vé đã được giao, xin bấm nhận hàng nếu nhận được</span>
                                }else if ((int)ViewBag.CurrentStatus == (int)Statuses.Transaction.Received){
                                    <span>Các vé bạn đã nhận, xin liên hệ trực tiếp nếu có khiếu nại</span>
                                }
                            </li>
                        }
                    </ul>

                </p> 
            
            }
            @if (Model.Count() == 0)
            {
                <center>
            <p>Không có giao dịch nào @DropIt.Common.Statuses.getText("BuyTicketStrings", (int)ViewBag.CurrentStatus)</p>
        </center>
            }
            else
            {
                <ul style="margin-top: -10px">
                    @foreach (var item in Model.OrderByDescending(t => t.CreatedDate))
                    {
                        //if (item.Status != (int)DropIt.Common.Statuses.Ticket.Ready)
                        //{
                        //    continue;
                        //}
                
                        <li class="ticket">
                            @if (item.TranStatus == (int)Statuses.Transaction.Delivered)
                            {
                                <div style="position: absolute; bottom: 10px; left: 10px;">
                                    <a href="@Url.Action("Receive", new { Id = @item.TicketId })" class="btn main">Đã nhận hàng</a>
                                </div>
                            }
                            @if (@item.SeriesNumber != null)
                            {
                                <div class="serial"><strong>S\N: @item.SeriesNumber</strong></div>
                            }
                            <div class="buyer">
                                <div class="buyer-name">
                                    <strong>Ngưới bán:</strong> @item.User.UserName
                                </div>
                                <div class="buyer-date">
                                    <strong>Ngày đăng:</strong> @item.CreatedDate.Value.ToString("dd / MM / yyyy")
                                </div>
                            </div>
                            <div class="info">
                                <div class="event-name text-overflow">
                                    <a href="@Url.Action("Details", "Event", new { Id = @item.EventId })">
                                        @item.Event.EventName
                                    </a>
                                </div>
                                <div class="event-artist">
                                    <span class="icon-star"></span>@item.Event.Artist
                                </div>
                                <div class="event-date">
                                    <span class="icon-calendar">&nbsp;</span>@item.Event.HoldDate.ToShortDateString().ToUpper()
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                <span class="icon-map-marker"></span>@item.Event.Venue.VenueName
                                    <br />
                                    <span class="icon-time"></span>&nbsp;@item.Event.HoldDate.ToLongTimeString()
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                @if (item.Seat != null)
                {
                    <span class="icon-random"></span> <text>Chỗ ngồi:</text> @item.Seat
                }
                                </div>
                                @*<div class="event-venue">
                                    
            </div>*@
                                <div>
                                    <strong>Chú thích:</strong> <span data-unraw>@Html.Raw(item.Description)</span>
                                </div>
                            </div>
                            <div class="price">
                                <span data-vnd>@item.SellPrice</span> VNĐ
                            </div>
                            <div class="qrcode">
                                @Html.QRCode(Url.Action("Buy", "Ticket", new { Id = item.TicketId }, Request.Url.Scheme), 50, 2)
                            </div>
                            <div class="action">
                                @*@if (item.TranStatus != null)
                        {
                            <a href="#" class="btn btn-inverse btn-buy btn-small disabled" style="width: 85px"
                                data-toggle="tooltip"
                                title="Vé này đang được giao dịch, bấm theo dõi để nhận được thông báo nếu vé này bị hủy giao dịch">Đang giao dịch</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Buy", "Ticket", new { Id = @item.TicketId })" class="btn main buy-ticket">Đặt vé</a>
                        }*@
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
