@model IEnumerable<DropIt.Models.Event>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Partials/RoleTab")
<!--Area: Page Header & Navigation & Search.END-->
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                @if(!User.Identity.IsAuthenticated){
                    @Html.Partial("Partials/SideBar")
                }else{
                    if(Session["Role"]!=null && Session["Role"].Equals("Sell")){
                        @Html.Partial("Partials/SideBar_Sell")
                    }else{
                        @Html.Partial("Partials/SideBar_Buy");
                    }
                }
            </div>
        </div>
        <div class="span9">
            <div id="main-nav" class="navbar span9">
                <ul class="nav">
                    <li class="active"><a href="@Url.Action("Index", "Home", null, "http")">Top Các Sự Kiện</a></li>
                    <li><a href="">Sự Kiện Mới</a></li>
                </ul>
            </div>
            <div id="ticket-show" class="span9">
                @foreach (var item in Model)
                { 
                    <a href="@Url.Action("Details", "Event", new { id = item.EventId })">
                        <div class="item span3">
                            <div class="image-item" style="background-image:url('@HttpUtility.UrlPathEncode(Url.Content(item.EventImage == null ? "/Content/Images/no_image.jpg" : item.EventImage))')";>
                            </div>
                            <div class="item-event-date">
                                <div class="item-date">@item.HoldDate.Day</div>
                                <div class="item-time">
                                    <div class="item-month">@item.HoldDate.Month</div>
                                    <div class="item-year">@item.HoldDate.Year</div>
                                </div>
                            </div>
                            <div class="detail">
                                <h5 class="name-event">@item.EventName</h5>

                                <p>Số Vé: @item.Tickets.Count</p>

                                <p>Địa Điểm: @item.Venue.VenueName</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

