@model IEnumerable<DropIt.Models.Event>

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="role-tab" class="container">
    <div class="user-tab">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">Bán Vé</a>
            </li>
            <li class="">
                <a href="#">Mua Vé</a>
            </li>
        </ul>
    </div>
</div>


<!--Area: Page Header & Navigation & Search.END-->
<div class="container" id="content">
    <div id="bord">
        &nbsp;
    </div>

    <div class="row">
        <div class="span3">
            <div class="sidebar-nav">
                <div>
                    <ul id="left-nav" class="nav nav-list">
                        <li class="nav-header">Cá Nhân</li>
                        <li><a href="#">Thông tin tài khoản</a></li>
                        <li><a href="#">Giao dịch đang thực hiên <span
                            class="badge badge-info">4</span></a></li>
                        <li><a href="#">Lịch sử giao dịch</a></li>
                        <li class=""><a href="#">Danh sách theo dõi</a></li>
                        <li><a href="#">Quản lí rao mua</a></li>
                        <li class="nav-header">Mua Vé</li>
                        <li><a href="#">Đăng rao mua</a></li>
                        <li class=""><a href="#">Ca nhạc</a></li>
                        <li class=""><a href="">TV Show</a></li>
                        <li><a href="#">Thể thao</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span9">
            <div id="main-nav" class="navbar span9">
                <ul class="nav">
                    <li class="active"><a href="@Url.Action("Index", "Home", null, "http")">Top Các Sự Kiện</a></li>
                    <li><a href="">Sự Kiện Mới</a></li>
                    <li><a href="">Âm Nhạc</a></li>
                    <li><a href="">Thể Thao</a></li>
                </ul>
            </div>
            <div id="ticket-show" class="span9">
                @foreach (var item in Model)
                { 
                    <a href="@Url.Action("Details", "Event", new { id = item.EventId })">
                        <div class="item span3">
                            <div class="image-item" style="background-image:url('@HttpUtility.UrlPathEncode(Url.Content(item.EventImage == null ? "/Content/Images/no_image.jpg" : item.EventImage))')";>
                            </div>
                            <div class="item-event-date">
                                <div class="item-date">@item.HoldDate.Day</div>
                                <div class="item-time">
                                    <div class="item-month">@item.HoldDate.Month</div>
                                    <div class="item-year">@item.HoldDate.Year</div>
                                </div>
                            </div>
                            <div class="detail">
                                <h5 class="name-event">@item.EventName</h5>

                                <p>Số Vé: @item.Tickets.Count</p>

                                <p>Địa Điểm: @item.Venue.VenueName</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

