@model IEnumerable<DropIt.Models.Ticket>
@{
    ViewBag.Title = "ListTicket";
    Layout = "~/Areas/Administration/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="table-wrapper events-table section">
    <div class="row-fluid head">
        <div class="span12">
            <h4>Tickets</h4>
        </div>
    </div>
    @* <div class="row-fluid filter-block">
        <div class="pull-right">
            <div class="ui-select">
                <select>
                    <option>Filter events</option>
                    <option>abc</option>
                    <option>xyz</option>
                </select>
            </div>
            <input type="text" class="search">
            <a class="btn-flat success new-event" href="Create">+ Add event</a>
        </div>
    </div>*@
    <div id="pad-wrapper">
        <div class="row-fluid">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="span3">
                            <span class="line"></span>Sự kiện
                        </th>
                        <th class="span3">
                            <span class="line"></span>Thời gian tổ chức
                        </th>
                        <th class="span3">
                            <span class="line"></span>Miêu tả ghế
                        </th>
                        <th class="span3">
                            <span class="line"></span>Ghế ngồi
                        </th>
                        <th class="span3">
                            <span class="line"></span>Trạng thái vé
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- row -->
                    @foreach (var item in Model)
                    {
                        <tr class="first">
                            <td>
                                @Html.DisplayFor(modelItem => item.Event.EventName)
                            </td>
                            <td class="">
                                @Html.DisplayFor(modelItem => item.Event.HoldDate)
                            </td>
                            <td class="place">
                                @Html.DisplayFor(modelItem => item.Seat)
                            </td>
                            <td class="description">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                     @{
                                         var status = item.Status;
                                         if (status==0)
                                         {
                                             <p>Không chấp nhận</p>
                                         }
                                         else if (status == 1)
                                         {
                                         <p>Chấp nhận</p>                    
                                            }
                                         else
                                         {
                                         <p>Đã xóa</p>                    
                                            }
                                     }                      
                            </td>
                                
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.EventId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.TicketId }) |
                                @Html.ActionLink("Delete", "Delete","Ticket" , new { id = item.TicketId }, new { onclick="return confirm('Bạn có chắc chắn muốn xóa vé này?');"})
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- end events table -->
</div>

@*<script>
    function confirm() {
        if (confirm("OK?") == true) {
            console.log("YES");
        }
    }
    
</script>*@
